[2012-03-16 14:11] mdmoura opened #4 "Events / Context. Can Common Logging support it?"
Hello,

Would be possible to include Events in Common Logging? For example, in NLog is:

[code]

I think in Log4Net is called Context ...

Thank You,
Miguel

[2012-05-25 14:08] michelelepri opened #5 "Strong name"
Without a strong name a commong-logging reference can't be added to a project that has a strong name.

Thanks
michele

[2012-06-07 12:44] sbohlen opened #7 "Bug in .NET 4 results in exception reading config from network share"
**\* NOTE: this issue report copied from net-commons mailing list ***

I have following problem found : Security exception on configuration reading when the application it is started from network share failure.

I try the basiclogging project using the EnterpriseLibrary

The only difference is that I use the outside definition of common logging configuration sections, that on local folder works wi

[2012-06-07 12:52] #5 closed, assigned to sbohlen

[2012-06-07 21:54] #7 closed, assigned to sbohlen

[2012-06-21 09:17] ramonsmits opened #8 "Multiple Factories / Appenders"
I have a situation where I would want to use log4net for colored console output and entlib for persistent logging. I don't see something that allows multiple factories acting like the log4net AppenderCollection. This would be a nice addition and maybe somebody already has made this but I could not find it.

[2012-06-25 01:48] suningnet opened #9 "it does not support extend properties？"
It dose not support extend properties yet。
eg：nlog  ${event-context}  layout render

[2012-07-13 09:58] aggieben opened #10 "NLog.TargetWithLayout has moved"
Commons.Logging.NLog seems to be trying to load NLog.TargetWithLayout, but that class has moved to NLog.Targets.TargetWithLayout.  Consequently, an exception is thrown by the reflection loader.

[2012-08-09 15:54] kerryjiang opened #11 "Keyfile is missing"
When I ran build-release.cmd, it gave me the key file missing error:
project.sign='true' but keyfile D:\kerry\workshop\common-logging/Common.Net.snk is missing

Can I generate the keyfile by myself?

[2012-08-10 09:13] kerryjiang opened #12 "Why don't support passing config file path by args like log4net?"
I prefer to separate logging's confguration from application's configuration.

[2012-11-21 12:32] Mammaplank opened #13 "External configuration file"
Hi All,

I intend to use the common logging framework within Microsoft BizTalk. The problem is that all of the BizTalk applications use one config file instead of one app.config per application (this is the way Biztalk works, not a way I implemented it).

To maintain configuration settings per application I create a section group per application part and redirect that to an external file. Each app

[2012-11-29 16:55] LockTar opened #14 "Booleans for IsWarnEnabled etc not working with EntLib 5"
Hi,

I downloaded the Nuget package for a new ASP .NET MVC 4 Web application with framework 4.5.
I als downloaded the EntLib 5 package.
I added the config sections. Everything default but only the switchvalue of entlib to critical for testing this issue. I also tried Warning, error etc.

I used this code:
ILog log = LogManager.GetLogger("General");
if (log.IsWarnEnabled)
{
     //Some very heavy c

[2012-12-14 15:08] xdzgor opened #15 "Logging with lambda expression"
Hi, I am using common.logging (with log4net 1.2.10). Sometimes, when I try to log a string which I received from an external service, the logging system throws an exception. I am not sure if the exception originates from common.logging or log4net.

For example, I do:
string s = service.GetName();
log.Debug(m => m("servicename=" + s));

It appears this exception occurs because the string contains ‘

[2012-12-18 12:06] ThermIt opened #16 "Leaky abstraction"
FormatMessageCallbackFormattedMessage and FormatMessageCallback in AbstractLogger is a leaky part of the abstraction. Simple example:
var a = new A();
Log.Info(a); // peace of cake
Log.Info(handler => handler(a)); // won't even compile

More complicated example:
var a = new A();
Log.Info(a); // I want to log A => my logging system will receive A
Log.Info(handler => handler(a.ToString())); // I wan

[2012-12-19 18:41] benfoster opened #17 "Common.Logging.NLog20 doesn't work"
Error:

An error occurred creating the configuration section handler for common/logging: Unable to create type 'Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20'

[2013-01-01 12:17] DannyVarod opened #18 "NLog ${callsite} support"
When NLog's ${callsite} is used, the logged callsite is Common.Logging's method instead of the caller.

Is it possible to fix using an approach such as:
http://stackoverflow.com/questions/5132759/nlog-callsite-information
http://nlog-forum.1685105.n2.nabble.com/NLog-and-Commons-Logging-question-td1685331.html
So that people won't add another wrapper to work around this?

Edit: Solution had Common.

[2013-01-01 12:39] #18 closed, assigned to nobody

[2013-02-08 20:17] chriseldredge opened #22 "GetCurrentClassLogger possible NRE"
[LogManager.GetCurrentClassLogger](https://github.com/net-commons/common-logging/blob/master/src/Common.Logging/Logging/LogManager.cs#L200) uses the DeclaringType from the method info as the current class, but in .net 4.0 and later include [DynamicMethod.DeclaringType](http://msdn.microsoft.com/en-us/library/system.reflection.emit.dynamicmethod.declaringtype.aspx) which is <b>always null</b>.

Thi

[2013-02-12 19:54] peterbernier opened #23 "Possible Issues with Common.Logging / Common.Logging.NLog20 NuGet packages"
I think there may be an error in the information added to web.config when the indicated NuGet packages are added to a project.

When the package is added to the project, the following is added to web.config:

[code]

Unfortunately this seems to result in the following error at run-time :

Parser Error Message: An error occurred creating the configuration section handler for common/logging: Unable

[2013-03-07 09:51] Daniel-Svensson opened #24 "Support portable class libraries (PCL)"
Allow common.logging to be used by portable libraries in order to allow it to be used on other platforms (Silverlight, windows store apps ..) than the .net desktop.

To do so all (portable) core-functionality should be moved into a portable assebly while platform specific functionallity is moved to platform specific assemblies.

So far @ioancrisan has made good progress towards making common.loggi

[2013-03-14 22:29] zam6ak opened #25 "Code Analysis - Specify IFormatProvider"
Code Analysis - Specify IFormatProvider

In short, is there any way (other than wrapping my log calls into another class) to specify CultureInfo.InvariantCulture to logging statements?

Explanation:
In our app we display a log of logging statements with data from DB.
So we have something like this:

[code]

After turning on "All rules" for Conde Analysis the Logger statements are now generating fo

[2013-03-19 16:05] bloudraak opened #26 "Operation could destabilize the runtime."
When I follow the steps below, the system fails with an exception:

[code]
1. Create a new Windows Service, using the .NET 4 framework
2. Use NuGet to add Common.Logging package
3. In the OnStart, add the following code:

[code]

Observe that the service fails to start with the exception above.  This was discovered using other frameworks that depend on Common.Logging.

Common.Logging Version: 2.1.

[2013-03-22 14:33] #25 closed, assigned to nobody

[2013-04-04 22:16] dhmgit opened #28 "AbstractCachingLoggerFactoryAdapter.GetLogger can return null"
EDIT -- Disregard.  Didn't realize I was working from a fork created by a colleague.  Sorry for any confusion.

I noticed this while trying to use CommonLoggingTraceListener to redirect messages from a named TraceSource to NLog.  I could be mistaken, but I believe the actual issue is rooted in how AbstractCachingLoggerFactoryAdapter uses WeakReference.  In particular, it never checks the reference

[2013-04-18 06:51] NoreMan opened #29 "Signed binaries"
I want to deploy Common.Logging on our customer's computers. They only accept signed libraries on their computers. The download package does not contain signed libraries.

Is it allowed to sign the downloaded libraries with my company signatures?

[2013-05-02 23:16] abombss opened #31 "Entlib 6 Support"
Entlib 6 is released, there should be an update to support those binaries as well and make sure everything still works.  Also entlib is now released on nuget so we can take a dependency on those packages.

[http://msdn.microsoft.com/en-us/library/dn169621.aspx](http://msdn.microsoft.com/en-us/library/dn169621.aspx)

[2013-06-03 13:51] imkevinyang opened #32 "Inefficiency code in 'ErrorFormat' (and other XXXFormat)"
public virtual void ErrorFormat(string format, params object[] args)
    {
        if (this.IsErrorEnabled)
        {
            this.Write(LogLevel.Error, new StringFormatFormattedMessage(null, format, args), null);
        }
    }

every time this XXXFormat is called, a new StringFormatFormattedMessage instance is constructed, which do nothing but call string.Format.
Why not call string.Format

[2013-06-05 13:04] Nergal123 opened #33 "Execution from a network drive"
Hi,

I've to run an application from a network drive and can't change something on the pc trust settings. I use your logging in combination with log4net and Spring and I'm getting an exception like 'That assembly does not allow partially trusted callers.' from common.logging.
I thought about building the common.logging ddls by myself using f.e. the [assembly:AllowPartiallyTrustedCallers] settings.

[2013-06-10 10:26] phieber opened #34 "JSON output"
It would be cool if the output can be switched to a JSON object in order to simplify logging to [Logstash](http://www.logstash.net)

I wonder if it can be achieved by a custom IFormatProvider?

My idea:

[code]

[2013-06-21 05:10] karldodd opened #35 "Is this great project dead?"
No commits on master branch for more than half a year... And nobody is merging pull requests...

Thanks,

[2013-08-09 12:10] candychiu opened #36 "NLog ${callsite} support on x64"
Same issue as https://github.com/net-commons/common-logging/issues/18.  I fixed it by following the instruction to use NLog20.  However, after I switched over to x64, the solution stopped working.

By switching to x64, I meant I removed <PlatformTarget>x86</PlatformTarget> in the .csproj, so the project compiles for all platforms.

[2013-09-14 03:58] mperdeck opened #37 "Example for configuration for NLog out of date"
I just installed Common.Logging to interface to NLog, using the Nuget package
Common.Logging.NLog20

To figure out the additional configuration I had to do in my web.config, I followed the example at
http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-adapters-nlog

However, this refers to NLog10, which the Nuget package didn't install. This lead to an obtuse error message

[2013-10-24 18:11] cmshawns opened #39 "ELMAH integration"
I have taken over ownership of Common.Logging.Elmah

https://github.com/shawn-bellevuecollege/common-logging/tree/master/src/Common.Logging.Elmah

and will like to add it to the loggers & adapters included with Common.Logging. When ready, a pull request will be attached to this issue.

ref: http://www.dotblogs.com.tw/wadehuang36/archive/2011/10/06/Common-Logging-Elmah.aspx

[2014-03-01 20:34] #24 closed, assigned to nobody

[2014-03-03 14:02] adamralph opened #42 "Add coloured console output to simple logging"
`ConsoleOutLoggerFactoryAdapter` is great for quickly plugging in a console logger.

It would be even greater if we could have a simple `ColoredConsoleOutLoggerFactoryAdapter`. Different colours for each logging level is just so so pretty and readable :wink:.

I understand that you probably don't want to lump too many simple loggers into the library and they should be kept simple, but I think this

[2014-03-20 15:41] neslekkim opened #45 "log4net %env{..} support?"
is missing now?

[2014-03-31 03:44] karldodd opened #46 "Add Change Log for 2.2.0"
Common.Logging 2.2.0 has been released on nuget.org with a new assembly Common.Logging.Core. But the document has not been updated yet. Just a few sentences on what's been changed/added will help a lot. Thanks.

[2014-04-10 23:07] jmiglietta-inc opened #47 "LogLevel"
Can we change LogLevel into a bit flag enum?  That way it would be nice to log specific levels as a group instead of one, all, or none.  It is a simple thing to do and would provide a great benefit.

[2014-04-21 23:57] ryanwentzel opened #48 "TypeLoadException With Common.Logging.Log4Net 2.0.1 and Common.Logging 2.2.0"
It appears that the Common.Logging.Log4Net nuget package is incompatible with Common.Logging 2.2.0.

When calling `LogManager.GetCurrentClassLogger()` a `TypeLoadException` is thrown:

[code]

I'm using the following app.config:

[code]

The exception can be reproduced using a simple console application:

[code]

[2014-05-05 20:04] futureturnip opened #49 "NLog Exception Layout Renderer is Not Used When Logging Errors"
Trying to use an NLog exception layout renderer as described here https://github.com/NLog/NLog/wiki/Exception-layout-renderer . When using the common logging `Error` method the exception details are ignored.

Calling NLog's `ErrorException` method directly works as expected. I wrote a small sample app to reproduce the problem here: https://github.com/futureturnip/NoExceptionLayout

[2014-05-13 12:44] #49 closed, assigned to nobody

[2014-06-01 18:35] #42 closed, assigned to nobody

[2014-06-13 16:35] zam6ak opened #51 "Support for NLog 3.0"
Will there be support for recently released NLog 3.0?

[2014-07-08 12:17] sgrassie opened #54 "ETA on new NuGet release?"
Is there any planned ETA on a new NuGet release?

There are conflicts in both the log4net and nlog integration assemblies, with newer versions of common.logging.

How are people getting round this at the moment? Am I going to need to write my own log4net adapter?

[2014-07-25 04:41] michael-lang opened #55 "backwards compat break with 2.2 factor adapters"
I am having trouble finding any documentation on what actually changed with Common.Logging 2.2.  Specifically, what changed with implementing factory adapters?  I was running with common logging 2.1.2 and my factor adapter and configuration worked.  And now it doesn't with common logging 2.2 (from NuGet).

This is the error I get:

An exception of type 'Common.Logging.ConfigurationException' occur

[2014-08-08 12:06] azzlack opened #57 "Xamarin support"
Please add support for Xamarin 3. It shares the same capabilities as win8 and wpa81, so should be as easy as adding a new folder in the nuget lib folder called `portable-net45+netcore45+wpa81+MonoAndroid1+MonoTouch1` (taken from http://embed.plnkr.co/03ck2dCtnJogBKHJ9EjY/preview) and dropping the dll in there.

[2014-10-17 16:25] mwpowellhtx opened #60 "log4net locked version"
Hello,

We've got several projects we're maintaining that have been depending on Common.Logging and Common.Logging.Log4Net. We've also got a couple of other Nuget packages incorporated that have their own dependencies on log4net.

In the interest of keeping up with our sources, we want to keep up to date with log4net, but we are finding that C.L.L4N, in particular, is holding us back; i.e. log4net

[2014-10-23 08:47] AnderssonPeter opened #61 "Nuget Common.Logging.NLog 2.0.0 not compatible with Common.Logging 2.2.0"
If i create a project and add the nuget Common.Logging.NLog 2.0.0, it automatically adds Common.Logging 2.0.0, but if i then upgrade Common.Logging to 2.2.0 it seems to break Common.Logging.NLog 2.0.0.

Please update the Nuget for Common.Logging.NLog.

[2014-10-26 20:39] #26 closed, assigned to nobody

[2014-10-26 20:41] #31 closed, assigned to nobody

[2014-10-26 20:44] #35 closed, assigned to nobody

[2014-10-27 02:29] #51 closed, assigned to nobody

[2014-10-27 02:35] #54 closed, assigned to nobody

[2014-10-27 02:44] #61 closed, assigned to nobody

[2014-10-27 02:58] #60 closed, assigned to nobody

[2014-10-27 03:09] #55 closed, assigned to nobody

[2014-10-27 03:18] #33 closed, assigned to nobody

[2014-10-27 03:29] #28 closed, assigned to nobody

[2014-10-27 03:32] #23 closed, assigned to nobody

[2014-10-27 03:32] #17 closed, assigned to nobody

[2014-10-27 03:39] #11 closed, assigned to nobody

[2014-10-27 15:16] sbohlen opened #63 "NuGet Version-Neutral Package Update Strategies"
This Wiki page identifies the background against which we must consider this problem: https://github.com/net-commons/common-logging/wiki/Common.Logging-Packaging-and-Versions

This WIki page https://github.com/net-commons/common-logging/wiki/NuGet-Packaging-Update-Strategies lists several strategies for trying to mitigate this problem as well as what we see as some of the PROs and CONs for each ap

[2014-10-28 12:12] #14 closed, assigned to nobody

[2014-11-02 00:44] SimonCropp opened #65 "nuget says "I am the readme from Common.Logging...." :)"

[2014-11-02 01:40] #65 closed, assigned to nobody

[2014-11-02 03:49] SimonCropp opened #66 "decommission http://netcommon.sourceforge.net/"
is http://netcommon.sourceforge.net/ still required with the project being on github?

[2014-11-03 18:43] eropple opened #67 "NuGet - Common.Logging.NLog31 incompatible with PCL"
I'm trying to use Common.Logging.Portable (as my core library is PCL), but it appears that Common.Logging.NLog31 doesn't play nicely with C.L.Portable. It wants to have Common.Logging; obviously, having both C.L and C.L.Portable in the same project is _Not Fun_.

Any help would be appreciated!

[2014-11-04 10:32] #63 closed, assigned to nobody

[2014-11-05 16:36] #10 closed, assigned to nobody

[2014-11-05 16:37] #48 closed, assigned to nobody

[2014-11-12 19:20] grantpalin opened #69 "Using in a multi-layer application"
I'd like to use this library in an application I'm working on. It currently consists of three subprojects:
- Web
- API
- Core

Core is used by the other two; it contains common objects such as models, data access, and infrastructure such as logging. Having added Common.Logging and NLog 3 (with the appropriate adapter) to the Core project, I haven't access to the logging capabilities from the other

[2014-11-13 18:17] caioproiete opened #70 "Update "Project Site" on NuGet.org to point to the GitHub repo"
This is super low priority, but the package in NuGet.org is pointing to the old Source Forge repository instead of the new on on GitHub.

[2014-11-13 22:33] #29 closed, assigned to nobody

[2014-11-13 22:36] sbohlen opened #71 "Reconsider Architecture/Approach to PCL Support"
Creating this issue to centralize actions/discussions related to it.  See https://github.com/net-commons/common-logging/issues/67#issuecomment-62976921 for comprehensive coverage of the background, history, challenges surrounding this.

If anyone has any input/suggestions/etc. on this points raised in https://github.com/net-commons/common-logging/issues/67#issuecomment-62976921 please offer them h

[2014-11-21 22:51] #69 closed, assigned to nobody

[2014-11-22 13:23] #67 closed, assigned to nobody

[2015-01-11 17:06] sbohlen commented on #71
Just circling back on this; with the release of 3.0.0.GA https://github.com/net-commons/common-logging/tree/3.0.0.GA this strategy is now officially in the wild for formal consumption now.

[2015-01-11 17:06] #71 closed

[2015-01-13 21:56] eman1986 opened #74 "Could not load type 'Common.Logging.ILog'"
I recently updated Common.Logging from NuGet and I now get this error message no matter what I do:

[code]

web.config is shown looking for the correct version so I'm just stuck on why it's complaining.

[2015-01-13 22:03] eman1986 commented on #74
worth noting I'm using NLOG 3.2 if that is worth knowing.

[2015-01-14 00:04] sbohlen commented on #74
Hmm...we don't (yet) support NLog 3.2, although that's more simply an oversight rather than a deliberate choice -- TBH, I wasn't aware that NLog 3.2 had been released; is this a (relatively) recent developement?

Are you indicating that you had been successfully using Common.Logging 2.x with NLog 3.2 prior and that this is no longer functioning now that you've updated to Common.Logging 3.0?  Or on

[2015-01-14 00:09] sbohlen opened #75 "Add Support for NLog 3.2"
Per https://www.nuget.org/packages/NLog/ NLog 3.2 was released on 1/2/2015.  We should add formal support for this new version ASAP.

[2015-01-14 13:08] sbohlen commented on #74
Just FYI, we've added an issue (https://github.com/net-commons/common-logging/issues/75) specifically for adding formal support for NLog 3.2.

[2015-01-14 14:28] eman1986 commented on #74
I recently updated common.logging which is when I noticed it.

[2015-01-14 15:04] eman1986 commented on #74
So I reverted Common.Logging to 2.3.1 and I'm back in business. so it seems you not only need to create a NLog32 package you also need to see why version 3 is breaking NLog as the older version NLog 3.2 works

[2015-01-14 15:54] sbohlen commented on #74
I tend to agree, we need to understand what's going on there.  If possible, I'd like to try to repro both your success (with 2.3.1) and your failure (with 3.0.0).

Can you advise the following for me:

1. For the working combination of `NLog` 3.2 + Common.Logging` 2.3.1, did you introduce Assembly Binding Redirects?  If not, what was your process for combining the two?  Install `Common.Logging.NLo

[2015-01-14 17:07] eman1986 commented on #74
I think that may be my problem, I'll have to adjust my code so its not thinking ILog is where it isn't.

[2015-01-14 17:14] sbohlen commented on #74
Curious: are you trying to resolve `ILog` based on its assembly (e.g., via reflection) in your code?

`Common.Logging.dll` (3.0) has a reference to `Common.Logging.Core.dll` and the NuGet package should have ensured that you got both.  The namespace for `ILog` shouldn't have changed even though the assembly did, so unless you're using reflection that cares about the assembly that contains the type

[2015-01-14 17:16] eman1986 commented on #74
I'm not seeing anywhere I'm trying to use ILog, so that stumps me as to why its complaining. I do have both of those packages installed.

[2015-01-14 17:26] sbohlen commented on #74
Hmmm...have you (re)compiled all the assemblies of your own that contain references to ILog?  As mentioned, since its moved from one ass'y to another you _would_ have to recompile your own code that references `Common.Logging.dll` in order for the type to resolve correctly.

Since all types in .NET are assembly-qualified, `ILog` from `Common.Logging.dll` isn't binary-compatible with `ILog` from `C

[2015-01-14 17:55] rbirkby commented on #74
"The type initializer for 'Quartz.Impl.StdSchedulerFactory' threw an exception."
    "Method not found: 'Common.Logging.ILog Common.Logging.LogManager.GetLogger(System.Type)'."

simply because I updated all packages in nuget and got Common.Logging 3

[2015-01-14 18:04] rbirkby commented on #74
Wondering if this would have fixed it?
[code]

[2015-01-14 18:04] sbohlen commented on #74
Common.Logging 3.0 is the first release since 1.2 that breaks binary reverse-compatibility.  This was by design in order to properly address the need to support PCL as well introduce several new (breaking) features.

Following semantic versioning rules, there's no guarantee that a 2.x package can be replaced with a 3.x package (major version changes indicate at least in part an _expectation_ that

[2015-01-14 18:06] sbohlen commented on #74
That actually would have solved that one particular issue (the relocation of the `ILog` interface (and several others) to the new Common.Logging.Core assembly, but since there are actually other breaking changes that go beyond just relocating these several interface types, we decided not to bother with the type-forwarders since consumers of Common.Logging 2.x would have to recompile anyway to acco

[2015-01-14 19:10] sbohlen commented on #74
@rbirkby

When you say _"I updated all packages in NuGet and got Common.Logging 3.0"_, I'm curious: did your code have a _direct_ dependency on `Common.Logging` or only on `Quartz.NET` (and through that, an indirect dependency on `Common.Logging`)?

The reason I ask is that NuGet semantic versioning rules should prevent an update to `Quartz.NET` from cascading through to `Common.Logging` 3.0 unles

[2015-01-14 19:12] eman1986 commented on #74
I looked through my packages and I found that two of them are requiring Common.Logging 2.3.1

I'm upgrading them to version 3 to see if that fixes things, which I'm hoping it does.

[2015-01-14 19:14] rbirkby commented on #74
I've just checked the packages.config, and there is an entry for Common.Logging in it, even though it was never used directly.

[2015-01-14 19:18] sbohlen commented on #74
@eman1986

Thanks, please do circle back and let us know the results; if still not a success we may have a larger issue to address :)

[2015-01-14 19:27] sbohlen commented on #74
@rbirkby

Thanks; let me do some investigating understand just how SemVer for dependent packages is supposed to work.  My understanding based on http://docs.nuget.org/docs/reference/versioning is that its not necessary to state an 'upper bound' on the version of dependent packages because the semantic versioning boundary (e.g., major-version value) is always an implied upper-bound.

So when saying

[2015-01-14 19:46] eman1986 commented on #74
updating the helper packages I use fixed my problem.

[2015-01-14 19:55] sbohlen commented on #74
@eman1986

Excellent -- so more of a run-of-the-mill .NET assembly-resolution-version-conflict than anything wrong with Common.Logging 3.0 + packaging per se.  Happy to hear that you solved your issue (and that nothing is more broadly wrong with Common.Logging 3.0 in this case as well).

Cheers,

-Steve B.

[2015-01-14 20:50] shatl opened #77 "Update changelog.txt with v3 release notes"
Please update changelog.txt with release notes.

[2015-01-14 21:03] rbirkby commented on #74
Just to confirm, my code had a direct dependency on Common.Logging (which was not used directly) in addition to a direct dependency on Quartz.

From packages.config:

[code]

[2015-01-15 01:09] sbohlen commented on #74
@rbirkby

Thanks for the additional info.  My research has (apparently) turned up that there is a difference  in behavior WRT dependency version-handling during updates depending on the version of the NuGet client you're using.

My initial research suggests that NuGet 2.2 and prior will update all dependencies to "whatever is the latest version available in the NuGet package feed, disregarding sem

[2015-01-15 09:14] rbirkby commented on #74
@sbohlen 2.8

If my project directly references Common.Logging, why wouldn't it offer the update?

    PM> get-package -Updates

    Id                             Version              Description/Release Notes
    --                             -------              -------------------------
    Common.Logging                 3.0.0                Common.Logging library introduces a simple abstract

[2015-01-15 11:35] sbohlen commented on #74
Ok, that's clearly current enough to be *supposed to* be respecting SemVer rules, as far as my research turned up.

TBH my expectation was that NuGet should detect that you have another package (e.g., Quartz.NET in this case) that has an upper-bound on the version of Common.Logging that it will support of <3.0 based on SemVer rules and that updating to Common.Logging >=3.0 will break that dependen

[2015-01-15 11:40] rbirkby commented on #74
Quartz has an upper bound?
https://www.nuget.org/packages/Quartz/ says:

### Dependencies
Common.Logging (≥ 2.3.1)

[2015-01-15 11:58] sbohlen commented on #74
You can't trust the NuGet.org website; it interprets a NuSpec entry of "=2.3.1" as ">=2.3.1" for the sake of display on the site (which, frankly, reinforces the impression that SemVer isn't considered -- essentially the behavior you are seeing here).  However, if you look at the actual NuSpec file for Quartz.NET https://github.com/quartznet/quartznet/blob/master/Quartz.nuspec you'll see that its s

[2015-01-15 12:07] rbirkby commented on #74
Quartz (before yesterday) [said](https://github.com/quartznet/quartznet/blob/b86eefa39f4e1a01a83ef881e6456cbc1bd480a8/Quartz.nuspec):

[code]

According to [Nuget docs](http://docs.nuget.org/docs/reference/Versioning), this is a lowerbound. It is not an exact version.

[2015-01-15 13:06] sbohlen commented on #74
Right, it used to say 2.3.1 until very recently, but its always been stated as "=".  You're right of course that NuGet has always interpreted "=" to mean ">=" (e.g., a lower-bound rather than an exact equivalency) but this isn't an issue about the lower-bound, its an issue about an implicit upper-bound (that should be implied by Semantic Versioning rules).

That same doc you point to references th

[2015-01-15 15:40] rbirkby commented on #74
That's a great write-up.
Implied by what you say, I guess the nuspec for Common.Logging.Log4Net1213 is also wrong and instead of:

[code]

should use:

[code]

[2015-01-15 15:46] Luceres commented on #71
Hi Steve,
 I just tried to add Common.Logging.Portable to my Xamarin PCL Project, but this didn't work. Before I could add the old Common.Logging.Core. What am I missing?
![error](https://cloud.githubusercontent.com/assets/8191930/5760585/12aab3ae-9cd6-11e4-94fe-a05731e7beb3.jpg)

[2015-01-15 15:55] sbohlen commented on #74
@rbirkby

I think you might be correct ... I'm doing some additional due-diligence right now to attempt to (re)validate that my understanding of the behavior of NuGet in re: SemVer is as outlined above.  If I'm able to confirm that to be the case then I think we _should_ consider making a change to the dependency entries in our own NuSpec files.

The trick, however, is that AFAICT from past experi

[2015-01-15 16:02] sbohlen commented on #74
Interestingly, I just did a cursory look through a few of the NuSpec files for some of our adapters that support older (not latest) logging frameworks.  The Log4Net1210 dependency https://github.com/net-commons/common-logging/blob/master/src/Common.Logging.Log4Net1210/Common.Logging.Log4Net1210.nuspec actually _does_ use the `=[1.2.10]" exact match, presumably because we'd figured as we moved forw

[2015-01-16 08:17] lahma commented on #74
I think log4net is quite the different beast here. It has notorious history of breaking changes between versions, like the strong name change fiasco. Usually I'd be fine with updating to newer minor release with binding redirect but in case of log4net it could be a truly breaking change. That could be one (?) of reasons why the explicit restriction was made.

I've ran happily log4net1211 integrati

[2015-01-16 08:18] lahma commented on #74
As a side note, Quartz 2.3.1 was released yesterday and contains the new Common Logging 3.0.0 dependency (open upper-bound).

[2015-01-16 16:15] sbohlen opened #78 "Unable to add Common.Logging.Core 3.0 to Xamarin.IOS project"
Opening this new issue arising from a comment on another issue that had been closed prior (https://github.com/net-commons/common-logging/issues/71#issuecomment-70105495).

[2015-01-16 16:16] sbohlen commented on #71
The issue you're posting to is CLOSED so we have opened a new issue https://github.com/net-commons/common-logging/issues/78 on your behalf for further investigation into this.  All follow up will occur on that new issue number from this point.

[2015-01-16 16:22] sbohlen commented on #78
TBH, I don't know as I don't have (immediate) access to XAMARIN tools to test this myself :(

The updated `Common.Logging.Core` contains the same PCL-supported target list as the prior release, which you can see here https://github.com/net-commons/common-logging/blob/master/src/Common.Logging.Core/Common.Logging.Core.nuspec#L16-L18 as being...
[code]
Since that's not changed, I'm guessing its some

[2015-01-16 19:56] sbohlen commented on #78
FWIW, I just re-read your initial comment and realize that you're also trying to reference `Common.Logging.Portable`.  This should _also_ be supported as its got the same PCL-target-list in its package as does `Common.Logging.Core` (see https://github.com/net-commons/common-logging/blob/master/src/Common.Logging.Portable/Common.Logging.Portable.nuspec#L20-L22) .

However, I'll amend those two test

[2015-01-19 09:04] Luceres commented on #78
Hi Steve,
 bingo - without NuGet it works. Whats wrong here?

![image](https://cloud.githubusercontent.com/assets/8191930/5797952/720a3178-9fc2-11e4-8c38-45791254e54f.png)

Kind regards,

Markus

[2015-01-20 13:34] mperdeck commented on #74
I am the author of JSNLog (jsnlog.com; github.com/mperdeck/jsnlog; nuget.org/packages/JSNLog). My package needs to do logging, which it does via Common.Logging. Most users of JSNLog use the (precompiled) NuGet package, rather than (re)compiling the source from Github.

I guess not surprisingly, my users are now reporting the same
"Method not found: 'Common.Logging.ILog Common.Logging.LogManager.Ge

[2015-01-20 14:42] sbohlen commented on #74
Yeah, unfortunately even if we wanted to relocate `ILog` (and the other interfaces) back into the `Common.Logging` assembly that wouldn't by itself solve the issue (for you or other consumers of Common.Logging).

The "cannot find interface ILog"-related run-time errors are only the _first_ level of breaks with compatibility that users encounter (and so it understandably appears that just relocatin

[2015-01-20 15:03] sbohlen commented on #78
OK, thanks for sticking with us on this; thanks to your experimentation I think I've discovered the reason for the behavior you're seeing although I still need to investigate a bit further to track down the root _cause_.

Its definitely a packaging error; as your tests have shown the binaries themselves are just fine.

In the `Common.Logging.Core` version 2.2.1 package, this is the name of the fol

[2015-01-20 15:06] Luceres commented on #78
Hi Steve,
 thank you for your support - thats great!

[2015-01-20 17:40] sbohlen commented on #78
Sorry to ask you to validate this again, but can you just confirm for me one last time that you can in fact successfully add the  `Common.Logging.Core` 2.3.1 package to your solution using NuGet?

After further research, I'm less than 100% certain that the (un)encoded "+" is the cause of the error you're seeing with `Common.Logging.Core` and `.Portable` 3.0.0.  But since its your report that the C

[2015-01-20 17:51] Luceres commented on #78
Hi Steve,
 does this help? That´s the dir layout of the solution with the (working) `Common.Logging.Core`

2.2.0 btw

![image](https://cloud.githubusercontent.com/assets/8191930/5822524/29d986e2-a0d5-11e4-83b3-7ad42e54cfa8.png)

[2015-01-20 17:53] sbohlen commented on #78
Yes, perfect -- thanks!

[2015-01-21 09:16] rbirkby commented on #74
Interestingly, the nuget [recommendation](http://blog.davidebbo.com/2011/01/nuget-versioning-part-2-core-algorithm.html) seems to have been *not* to specify an upper bound:

...

[2015-01-23 10:38] sbohlen commented on #78
Circling back here, after additional investigation we're unable to determine a reason for the difference in results you're seeing in re: adding 2.2.0 vs. 3.0.0 as both list an _identical_ set of PCL targets in their `nuspec` manifests.

We've posted the issue on the NuGet discussion forum on CodePlex at  https://nuget.codeplex.com/discussions/578408 and hope to hear from the NuGet team on this sho

[2015-01-23 10:42] sbohlen commented on #74
@rbirkby

Yes, that would seem on its face to _also_ imply that its the responsibility of the _consumer_ of a package to guard against breaking changes by specifying an upper-bound when stating a dependency.

FWIW, I've attempted to condense much of this thread into a single discussion item on the NuGet CodePlex site here https://nuget.codeplex.com/discussions/578411 so perhaps we'll get an offici

[2015-01-28 15:49] alexminza commented on #74
@sbohlen

For types that were simply moved to the ```Common.Logging.Core``` assembly (like ```ILog```) .NET Type forwarding could be used to minimize the breaking of existing deployed assemblies/packages: https://msdn.microsoft.com/en-us/library/ms404275.aspx

[2015-01-28 15:51] rbirkby commented on #74
@alexminza Already discussed. https://github.com/net-commons/common-logging/issues/74#issuecomment-69961388

[2015-01-28 22:28] sbohlen commented on #74
Just to update this thread in the interests of being comprehensive, I've now determined/confirmed that there is in fact _no way_ that NuGet can protect against introducing breaking changes during an UPDATE.

The package dependency graph (e.g., as identified in the `.nuspec` file for each package) is only inspected at _initial_ package install.  At that time, if someone had specified e.g.
[code]
fo

[2015-01-28 22:28] #74 closed

[2015-01-29 09:37] alexminza commented on #74
Here's how Microsoft does it - https://www.nuget.org/packages?q=Microsoft.AspNet.WebApi
Basically, they create new packages for major versions to avoid breaking compatibility.

[2015-01-29 13:56] sbohlen commented on #74
Its interesting that you identify this approach, because in a sense its the same thing we here concluded some time ago when we switched from e.g., `Common.Logging.NLog` (which didn't indicate which _specific_ version of `NLog` it requires) to e.g., `Common.Logging.NLog20`, `Common.Logging.NLog30` which _were_ version-specific (see https://github.com/net-commons/common-logging/wiki/Common.Logging-P

[2015-01-30 21:36] warrenrumak commented on #77
+1, information about 2.3.0 would be useful as well

[2015-02-07 02:25] fritogotlayed opened #79 "Default Console Logger does not respect the showDataTime configuration"
When using the default logger an error exists where the timestamp is always output. I tried using an empty string and space in the `dataTimeFormat` configuration. For empty string the default `DateTime.ToString()` was used. That was expected per the documentation if the `showDataTime` flag was `true`. Using a space cause an exception to be raised. As a side note it may be worth using `string.IsNul

[2015-02-08 23:07] sbohlen commented on #79
Thanks for reporting this; I'll try to take a look at it shortly.  If you'd like to expedite a fix, we'd be happy to consider a PR too of course ...

[2015-02-08 23:23] fritogotlayed commented on #79
@sbohlen Thanks for accepting the bug! I was going to make a PR but I just haven't had a chance to even crack the source yet. I figured I would take a swing at it tonight when I got home. :-)

[2015-02-08 23:26] sbohlen commented on #79
Excellent; if you have any troubles, please let me know.  I'm probably not going to be able to dig into this until next weekend at the soonest, given the way this week's schedule is shaping up.

[2015-02-09 02:27] fritogotlayed commented on #79
@sbohlen I peeked at the code a bit and I think this may be a documentation fail. The [documentation on sourceforge](http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-declarative-config) states the configuration key is `showDataTime` but the code is looking for `showDateTime`. I personally feel that `showDateTime` is a better representation for what is actually happening

[2015-02-09 02:29] fritogotlayed commented on #79
I probably should of mentioned this but the block right below (1.4.2) has the correct value of "Date" for what that is worth. Sorry about the false bug and chewing up inbox space.

[2015-02-09 02:46] sbohlen commented on #79
lol -- ok, no worries; sorry about the TYPO on the sourceforge content, but happy its not actually a bug.

Don't worry about reporting a false bug; that's my favorite kind :D

[2015-02-09 02:46] #79 closed

[2015-02-17 15:14] thomasjoscht opened #81 "Setting Global (Variables) Context before logger creation"
Hey, trying to use log4net1213 with CL 3.0 and feature GlobalVariablesContext does not work in my scenario. For my log4net configuration in app.config I'm using %property{} for changing log file directory dynamically in my bootstrapper. Here part of my app.config:
[code]
In combination with log4net specific code all works fine:
[code]
But using new GlobalVariablesContext feature like following cod

[2015-02-17 16:28] sbohlen commented on #81
I'll try to look into this shortly for you; it may be that you've uncovered a scenario that's not properly supported by the new `GobalVariablesContext` feature (yet!).

[2015-02-20 00:12] DannyVarod commented on #81
Hi Thomas,

Have you checked if this works when using Log4Net directly (without Common.Logging)?

Perhaps since the log is created prior to the variable being set, Log4Net ignores the change in value, since the log file has already been created.

The Common.Logging GlobalContext is only a thin wrapper above Log4Net's "log4net.GlobalContext", so the behaviour should not differ between direct usage

[2015-02-20 01:51] sbohlen opened #82 "Consider ILog method overloads to accept a MethodInfo instance"
When logging is invoked from e.g., aspects/advice, Common.Logging reports the callsite of the log message as being in the aspect/advise rather than in the 'target' of the advice.  While this is _technically_ accurate/correct, its likely not what the reader of a log message really wants to see as the origin of the log message.

We should consider extending the `ILog` interface to offer overloads th

[2015-02-20 02:04] sbohlen opened #83 "Consider ILog method overloads that accept a logging level param"
In most cases, consumers of the `ILog` interface know exactly what methods to call to log the desired level of logging message (e.g., `ILog.Debug(...)`, `ILog.Info(...)`, `ILog.Warn(...)`).

However, in framework code that needs to process inbound messages and forward them to `ILog` for output/recording, this can lead to awkward switch/case statements that switch based on logging level and then co

[2015-02-20 13:14] meixger commented on #81
TBH i never used properties for log4net logfile configuration.

If you want to use a (global context) property in the log4net configuration you must set it **prior to the log4net configuration**.

Common.Logging configures log4net on the first call to Common.Logging.LogManager.GetLogger().

To access the GlobalVariablesContext we now need to call GetLogger() for an instance of an ILog. This trigge

[2015-02-20 13:47] sbohlen commented on #81
@meixger, thanks for weighing in here.  My read of your research into this seems to imply that this functionality is actually broken for Log4Net support of GlobalVariablesContext in general (e.g., not only for log file location), right?

Just thinking out loud without actually reading the code in Common.Logging (yet), I wonder if we could encapsulate the call to `LogManager.Reset()` into the `.Glo

[2015-02-20 14:15] DannyVarod commented on #81
@meixger @sbohlen Does this apply to all usage of the global variables context, or only if used in the log path?

Perhaps an additional method of the form:

Common.Logging.LogManager.GetXVariablesContext() which returns an interface container the logger contexts without the actual log method would be useful in this case.

Then you can do this:

var globalVariablesContext = Common.Logger.LogManager

[2015-02-20 14:34] sbohlen commented on #81
I like that a _lot_ more; not only clear your intent but also much less 'hacky' of a way to solve it.

-----Original Message-----
From: "DannyVarod" <notifications@github.com>
Sent: ‎2/‎20/‎2015 9:15 AM
To: "net-commons/common-logging" <common-logging@noreply.github.com>
Cc: "Steve Bohlen" <sbohlen@gmail.com>
Subject: Re: [common-logging] Setting Global (Variables) Context before loggercreation (#

[2015-02-20 15:52] meixger commented on #81
@sbohlen This functionality is actually broken for Log4Net support of GlobalVariablesContext only when used for **configuring** an appender.
It works fine when those global variables are used within log data:

    //log4net.config
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %property{RuntimeValue} - %message%newline" />

[2015-02-20 16:23] DannyVarod commented on #81
@meixger  - as I assumed.

So you can configure the appender via config file and for log parameters, the global variables context does work.

If there is need to affect the configuration of the appender via code, then my second suggestion would work, however, this really should count as a new feature request - not a bug fix, when you consider priorities.

[2015-02-20 16:33] DannyVarod commented on #4
Similar to #56, with a little difference in the scope...

In #56 I added support for global context and thread context, as both existed in both Log4Net and NLog, however, this context is for a single log entry.

Same as #9.

Technically, you could use the thread context before logging, then clear the variable for the thread context like so:

log.ThreadVariablesContext.Set("data", "data");
log.Info

[2015-02-20 16:38] DannyVarod commented on #47
Since the log levels are ordered like so: trace < debug < info < warn < error < fatal, you can easily filter like so:

if ((int)logLevel <= (int)LogLevel.Debug) { ... }
if ((int)logLevel >= (int)LogLevel.Info && (int)logLevel <= (int)LogLevel.Warn) { ... }
if ((int)logLevel >= (int)LogLevel.Error) { ... }

Changing the enum to flags, would require change of the values (from 0, 1, 2, 3, 4, ...) to

[2015-02-20 16:39] DannyVarod commented on #46
You should edit the title from "documents" to "change log" to make the request more clear.

[2015-02-25 07:49] thomasjoscht commented on #81
Thanks for your investigation of this behavior. The resolution is that a new feature is necessary for direct access to GlobalContext for appender configuration, isn't it? Like this:
[code]
How does the scheduling of priorities for new features look like resp when will this feature appr. be implemented? Thanks for your help.

[2015-02-25 11:24] sbohlen commented on #47
@DannyVarod

I'm curious: wouldn't your cast-and-compare-underlying-values scenarios still work the same even if the underlying values were effectively increased to become flag-able values?

So long as we maintained the relationship of trace < debug < info < warn < error < fatal with the new flag-based integer values, I'm thinking that we'd not actually be breaking anything other than any existing

[2015-02-25 11:38] sbohlen commented on #81
I concur with @DannyVarod 's POV that this should be slated for a new feature/enhancement as its a use-case for `GlobalVaraiablesContext` that wasn't strictly speaking considered when the feature was developed.  I've flipped this to 'enhancement' now for that reason.

The recommendation for the time being is going to have to be to employ the 'hack' suggested by @meixger in https://github.com/net-c

[2015-02-25 14:00] jhmiglietta-inc commented on #47
I think it would certainly still work.  The flag-based values are still in the same relative order; thereby maintaining the original logic.  The the added flexibility of being able to do a bit-wise test for each of the logging levels allows for complete independence between what is logged at each of the logging levels if the implementor so chooses.

As you point out clients/consumers should not be

[2015-02-25 17:01] sbohlen commented on #47
Resolved in https://github.com/net-commons/common-logging/commit/1cae7d9f44f5c31cb764e5f5e206b30a51037924

[2015-02-25 17:01] #47 closed

[2015-02-25 21:14] DannyVarod commented on #47
@sbohlen Changing the values to Flag values in the same order should be OK if no one is serializing this enum via WCF or to a DB. I do not know if this is a fair assumption or not.
Also, I still don't see why this feature is needed - what can't be done with "<", "<=", ">", ">=" comparisons?

[2015-02-25 22:03] sbohlen commented on #47
I suppose its an interesting question whether inability to deserialize a prior version to the next version represents a "breaking change" or not.  Is round-trip serialization a compatibility contract/expectation across non-major versions?

I suppose in a sense it could be considered as such since the usual meaning of "breaking change" is in re: the public API.

Although its also the case that all

[2015-03-11 11:32] amazzarri opened #84 "Enterprise Library 6.0: The LogWriter has not been set for the Logger static class"
When trying to use the Enterprise Library 6.0, the exception " The LogWriter has not been set for the Logger static class" is raised when trying to get a logger (i.e. ILog _log = LogManager.GetLogger("myEnterpriseLibraryLoggerCategory");

I fixed the source code in my own version of the package like so:

in \common-logging\src\Common.Logging.EntLib60\Logging\EntLib\EntLibLoggerFactoryAdapter.cs, a

[2015-03-18 16:38] lorenh commented on #75
Just curious, will an official NuGet package for Commons.Logging.NLog32 that directly supports NLog 3.2 be created anytime soon?

[2015-03-19 20:13] sbohlen commented on #75
Its likely that I'll be able to deal with this over the coming weekend (March 21/22)

[2015-03-23 22:11] sbohlen commented on #75
Resolved in commit https://github.com/net-commons/common-logging/commit/54bf1088da331fcd3fb677c7cfc3a561d52b356a.  Will push Common.Logging 3.1.0 to NuGet shortly.

[2015-03-25 11:10] lorenh commented on #75
Has the push to NuGet happened yet? Not seeing it.

[2015-03-25 11:51] sbohlen commented on #75
Unfortunately, not yet, no.  Unexpected last-minute business travel has
delayed me on this a bit; I'm hoping to get it out tomorrow (3/26).

On Wed, Mar 25, 2015 at 7:10 AM, lorenh <notifications@github.com> wrote:

[2015-03-25 13:28] lorenh commented on #75
No problem. Thanks so much for making the change.  Now that I know it won't appear until tomorrow at the earliest I can stop checking.

[2015-03-27 00:38] sbohlen commented on #46
ChangeLog.txt now updated through v3.1.0 in https://github.com/net-commons/common-logging/commit/99b77004982dbe3aaa656080550e1191995c12a4; thanks for the reminder!

[2015-03-27 00:39] #46 closed

[2015-03-27 00:41] sbohlen commented on #75
This is now complete as of https://github.com/net-commons/common-logging/releases/tag/3.1.0.GA.  My script it pushing the packages to NuGet right now so they should appear there shortly (within 5-10 mins).

[2015-03-27 00:41] #75 closed

[2015-03-27 00:43] sbohlen commented on #39
@cmshawns:

Are you still running Common.Logging.Elmah?  If so, I'd like to re-open this discussion to see how we can accommodate you...(and, yes, I know its been a while on this thread :-/)

[2015-03-27 00:46] sbohlen commented on #22
We've taken the approach some time ago of adding the [Obsolete] attrib to this code path so I'm going to close this issue for the time being.  We can re-open it in the future if someone devises a PR that addresses it any more meaningful manner (though as we've discussed I don't think there's any way to prevent this NRE in any of the use-cases identified in this thread as being potential causes of

[2015-03-27 00:46] #22 closed

[2015-03-27 00:48] sbohlen commented on #77
Agreed; ChangeLog.txt updated with missing info from 2.2.0 - current (3.1.0) in https://github.com/net-commons/common-logging/commit/99b77004982dbe3aaa656080550e1191995c12a4.  Thanks for the reminder!

[2015-03-27 00:48] #77 closed

[2015-03-27 01:06] sbohlen commented on #8
@ramonsmits

Just circling back on this to see if anything ever came of it (?)  Since we never received a PR on it, I'm guessing not...do you have any interest in (eventually) pursuing this?

[2015-03-27 08:26] ramonsmits commented on #8
I had difficulties in porting my changes to the current master head. I would like to contribute to this project but maybe its interesting in discussing my provious solution first. See if it requires some additional thought.

The primary solution was having a `MultiLog` class that implemented `ILog`. All log methods would iterate through an `IEnumerable<ILog>` firing these methods.

This worked and

[2015-03-27 11:09] sbohlen commented on #8
Thanks for letting us know the status.

My immediate thought is that while invoking each logger in the `IEnumerable<ILog>` collection inside its own `try...catch` block would be 'safer', its not clear to me that this would really be necessary per se.

As exists today in each of the various `Common.Logging.XYZ` adapters each individual call to e.g., `logger.LogError(...)` isn't protected (internall

[2015-03-27 23:40] cmshawns commented on #39
I am not, sorry. Work wasn't interested in following up and I've moved on to other employment. I'd be happy to contribute to any discussion, though. And am perfectly willing to transfer ownership of the repo, if there's somebody who wants to take it over.

[2015-03-27 23:53] sbohlen commented on #39
Thanks for getting back to us.

We'd be happy to fold it into the main Common.Logging project if you'd be willing to transfer the repo to either myself or the net-commons organization so that we can adequately maintain it directly...

-----Original Message-----
From: "Shawn S." <notifications@github.com>
Sent: ‎3/‎27/‎2015 7:40 PM
To: "net-commons/common-logging" <common-logging@noreply.github.com

[2015-03-30 06:12] cmshawns commented on #39
Transfer request submitted.

[2015-03-30 09:26] sbohlen commented on #39
Got it -- thanks!

[2015-03-30 09:26] #39 closed

[2015-03-30 09:29] sbohlen commented on #78
Were you eventually able to make this work --?  As you can see from the (lack of) activity on the issue I posted to the NuGet codeplex site (https://nuget.codeplex.com/discussions/578408) it seems that nobody there was able (willing? interested?) to try to provide any insight.

As we're unable to identify a cause for the behavior you're seeing and the NuGet team seems inable to assist, I'm leaning

[2015-03-31 06:47] Luceres commented on #78
Hi Steve,

on my side this ist he same state as it was. I will try to solve this for myself, close the issue.

Thank you for your efforts.

Von: Steve Bohlen [mailto:notifications@github.com]
Gesendet: Montag, 30. März 2015 11:30
An: net-commons/common-logging
Cc: Markus
Betreff: Re: [common-logging] Unable to add Common.Logging.Core 3.0 to Xamarin.IOS project (#78)

Were you eventually able to ma

[2015-03-31 10:16] #78 closed

[2015-04-09 14:33] Luceres commented on #78
Today I refreshed to Common.Logging.Portable 3.1.0 without any problems! I have no idea why I had a problem before. I had alot of Xamarin Updates in between, so I think it was a problem on their side. Sorry for any unnecessary work. Thank you for your assistance!!

[2015-04-09 15:49] sbohlen commented on #78
Great -- happy to hear that you managed to resolve it on your end; appreciate your circling back to let us know!

[2015-04-10 21:26] sbohlen commented on #8
@ramonsmits:

FWIW, I took a look @ the work you've done in your own fork (https://github.com/ramonsmits/common-logging) and its more or less what I thought -- and is generally how I would probably have approached it as well.

Rather than my starting from scratch, if possible I'd like to try to incorporate your work into MASTER here as a starting point for this feature.  Do you have any ETA you ca

[2015-04-20 21:58] cherrydev opened #87 "Shim for Microsoft.Framework.Logging"
I wonder if this might be a controversial topic, but now that Microsoft has released its own open-source logging abstraction (for some definitions of "released") for the new aspnet5/vNext/DNX system, I think it would make sense for common.logging to have an adaptor that delegates to Microsoft.Framework.Logging (which in turn will delegate to another logging framework).  This would allow libraries

[2015-04-22 16:54] sbohlen commented on #87
Hmmmm....I'm not certain that its as much controversial as (possibly) impossible (?)

As a MSFT FTE, I suppose I should be embarrassed to say it, but I'm honestly unfamiliar with `Microsoft.Framework.Logging` :)  Can you provide more information about it?  Specifically, can you advise whether it is only intended to be available on .NET Core 5.0 or is it also available on the main .NET Framework (e

[2015-04-22 17:17] cherrydev commented on #87
Nono, I can assure you that Microsoft.Framework.Logging.Interfaces works on the full .NET Framework because I'm in the early stages of writing a full-stack (not Core) web application that's targeting DNX.  It would be unnecessary to make any considerations for having to make any parts of Common.Logging work on the limited .NET Core runtime.  All I'm talking about would be to write a Common.Logging

[2015-04-22 22:23] sbohlen commented on #87
OK, understood; thanks for the clarification.  In that case, I don't see anything particularly controversial about this per se -- if you're interested in submitting a PR for this feature, we'd be happy to merge it into `Common.Logging`.

Even though there is (conceptually) overlap between this project and the Microsoft.Framework.Logging abstraction, I don't see any reason not to provide a bridge/p

[2015-04-22 23:55] cherrydev commented on #87
For now, there is, for example, an NLog provider for M.F.L. that's written by MS.  That might imply that MS is responsible for it, but it may not always be that way.
While I understand your point about possibly having the logs flow from M.F.L. into Common.Logging rather than the other way around, I might suggest that it would be preferable to have the largest number of components possible take the

[2015-04-23 13:31] drusellers opened #88 "Common.Logging for .Net 4.5"
Is there a reason that the NuGet package doesn't have a net45 ?

[2015-04-23 13:44] sbohlen commented on #88
Our assumption is that there isn't an actual need for this at this time.

There isn't a specific compilation of Common.Logging for net45 (the net40 binary would be identical to a binary for net45).  When adding the package, if there isn't a perfect match for your project's framework target in the package, NuGet is _supposed_ to fall back to the latest/closest _preceding_ framework moniker as I alw

[2015-04-24 18:48] drusellers commented on #88
Cool. Let me check / try again. And I will report back. :)

[2015-04-24 19:00] drusellers commented on #88
Ok, not sure what I had wrong but it works now. Thanks!

[2015-04-24 19:00] #88 closed

[2015-04-24 19:01] sbohlen commented on #88
Excellent -- my kinda problem :)

[2015-04-26 14:03] sbohlen commented on #87
Then in that case I still think your original idea for a shim still makes some sense; we'd be happy to accept a PR if you'd want to take a shot at an implementation.

[2015-04-29 06:15] abrasat opened #89 "Dispose LoggerFactoryAdapter"
Which is the recommended was to dispose the resources of a LoggerFactoryAdapter ? The ILoggerFactoryAdapter does not define any Dispose() or Close() methods.

[2015-04-29 13:25] sbohlen commented on #89
Typically `Dispose()`, `Close()`, `IDisposable`, and so on are necessary only when a managed object has unmanaged resources which need to be explicitly released (either for performance reasons or because the garbage collector is unable to properly free unmanaged resources when the it determines the managed object is no longer in scope/use).  This is why you see such approaches used with e.g., data

[2015-04-29 16:17] abrasat commented on #89
For instance we have some special logger adapters which log over network (tcp/ip or wcf), and need a "gracious" way to close them (and the established network connections) when the application that uses it is shutting down.

[2015-04-29 17:05] sbohlen commented on #89
Ok, that makes sense.

If this is in connection with your own custom ILoggerFactoryAdapter, would it be feasible for your own implementation to simply implement IDisposable as well (and for you to do your cleanup inside the Dispose() method when its called by the finalizer)?

[2015-04-30 05:29] abrasat commented on #89
This is probably what I will have to do, but this is not a very elegant solution, as the application can choose between several logger factory adapters which one to use. Some of them will be disposable, and some not (that means that the application will have to check if the logger factory adapter is disposable or not).

[2015-04-30 06:43] sbohlen commented on #89
TBH this doesn't seem _that_ inelegant to me (testing whether its safe to call a method before calling it).  Its really just a single line of code (a brief `if` statement) in whatever is responsible for managing the `ILoggerFactoryAdapter` instances in your architecture:
[code]
Unfortunately, as there wasn't an expectation that `ILoggerFactoryAdapter` implementations would take a dependency on unm

[2015-04-30 06:43] #89 closed

[2015-04-30 06:49] sbohlen commented on #89
Sorry, that won't (quite) work; it needs to be...
[code]
That's what I get for using a textbox as my IDE late at night when I should really be asleep already :)

Not _quite_ a one-liner, but still not _that_ inelegant!

[2015-05-05 10:29] abrasat opened #90 "Common.Logging.Portable portability ?"
I let the Microsoft .NET Portability Analyzer Visual Studio add-on (https://visualstudiogallery.msdn.microsoft.com/1177943e-cfb7-4822-a8a6-e56c7905292b) analyze the Common.Logging.Portable 3.1.0 implementation. Could you please take a look regarding the few (especially Windows 8.1) incompatibility issues ?
Thanks in advance.

[2015-05-12 07:00] karldodd commented on #87
Great topic. I think both directions (consumer/producer) are valuable and useful.

Recently I am also building an ASP.NET 5 application, which references quite a lot of existing libraries that uses Common.Logging. So in my case, I need Common.Logging to be a consumer of MFL logs.

Btw, I am with @cherrydev 's advice that @sbohlen, on behalf of we common.logging users, post an issue on https://gith

[2015-05-14 14:51] sbohlen commented on #90
Hmm...I wasn't aware of this tool, but am thankful for your pointing it out to me.  I'll take a look at the issues raised in the reports and see if there are viable work-arounds for them that we can implement (hopefully without introducing breaking changes).

TBH, for some of these reflection-specific issues (e.g., `Type.GetMethod(...)`, `Type.GetConstructor(...)`) there may not in fact be Windows

[2015-05-14 21:55] sbohlen commented on #90
Just looping back with a quick update after an initial investigation...

* There are no issues identified by the utility in the `Common.Logging.Core` PCL
* There are issues found in the `Common.Logging.Portable` PCL that relate primarily to the Reflection APIs and secondarily to a small amount of exception-logging metadata that interacts with the Stack API and the Threading API

At first glance it

[2015-06-03 20:26] Arithmomaniac opened #92 "Summary of NLogLoggerFactoryAdapter is wrong value"
using Common.Logging.NLog32 package, the following can be seen in the object browser:

    public class NLogLoggerFactoryAdapter :
            Common.Logging.Factory.AbstractCachingLoggerFactoryAdapter
        Member of Common.Logging.NLog

    Summary:
    Concrete subclass of ILoggerFactoryAdapter specific to NLog 1.0.0.505.
Of course, it should be specific to 3.2.

[2015-06-03 20:30] sbohlen commented on #92
Oops -- quite right.  I'll fix that shortly -- unless of course you want to submit a one-line pull-request :)

[2015-06-04 14:23] Arithmomaniac commented on #4
That should say  'log.ThreadVariablesContext.Remove("data");` no?

[2015-06-15 11:39] PeterDefendo opened #96 "Please add support for NLog 4.0"
NLog 4.0 was released a few days ago and it has some breaking changes more information can be found here http://nlog-project.org/2015/06/09/nlog-4-has-been-released.html

[2015-06-15 15:18] sbohlen commented on #96
Thanks for letting us know; we'll add support for this shortly and update NuGet packages accordingly.

[2015-06-28 16:19] DashNY commented on #96
+1 and thank you for doing a great job with the Common.Logging component. Really easy to work with.

[2015-07-01 19:10] OrangeShark commented on #96
:+1:

[2015-07-05 00:08] sbohlen commented on #96
Completed yesterday with Commit https://github.com/net-commons/common-logging/commit/922658a55c7c10c7f0b8e689eea1b460792c9a6e and version Common.Logging 3.2 released and pushed to NuGet.

[2015-07-05 00:08] #96 closed

[2015-07-05 00:19] sbohlen commented on #92
Fixed in Commit https://github.com/net-commons/common-logging/commit/9c3e5af3abd35b0e51e569af94bf971366f792a3.

[2015-07-05 00:19] #92 closed

[2015-07-05 00:22] sbohlen commented on #90
Just by way of an update on this, its proving more complex that initially expected but its still something that we very much plan to address.  Its likely that this will result in a new `Common.Logging.dll` that is specific to WinRT support (sim. the way that there is today a sep. `Common.Logging.dll` for e.g., Silverlight support).

Our expectation is to have this addressed/resolved (and released

[2015-07-10 18:01] coderjoe opened #98 "Common.Logging.Log4Net1213 has incorrect log4net package dependency"
The nuspec for Common.Logging.Log4Net1213 requests a dependency of log4net 1.2.13, but the log4net nuget package doesn't seem to be following its assembly version scheme.

log4net [1.2.13] is provided in the 2.0.3 log4net nuget package.

Normally this doesn't cause a problem, but our project has numerous 3rd party dependencies some of which rely on a particular version of log4net, and nuget's vers

[2015-07-14 13:08] uwaka opened #99 "Question: Common.Logging.Portable application in a PCL code"
Hi
I'm trying to implement logging in PCL and I've come upon the Common.Logging.Portable.
Started experimenting a little and got stuck. My conundrum is as follows-
It is my understanding that Common.Logging is an interface which would then connect to NLog/ Log4Net- so for the concrete implementation I'd grab one of those guys' nuget into my project and configure as required. But neither Log4Net/NL

[2015-07-14 16:12] sbohlen commented on #99
No, you're not missing anything, that's quite correct (none of the logging
frameworks themselves offer PCL implementations.

The way to think about Common.Logging's PCL support is that the logging
*abstractions* in Common.Logging (e.g., ILog) are what you want to
reference in your own PCL assemblies.  Then in your own PCL assemblies you
code to those PCL-based abstractions exposed by Common.Loggin

[2015-07-23 13:53] coderjoe commented on #98
In short, Common.Logging.Log4Net1213 should be depending on version 2.0.3 of the log4net nuget package (which is the correct assembly version).

[2015-07-23 14:56] sbohlen commented on #98
Understood; we'll correct this shortly and post an updated package to NuGet.  Thanks for identifying this issue.

[2015-07-23 14:57] #99 closed

[2015-07-27 09:32] DanielSundberg commented on #37
Now it should probably be Common.Logging.NLog40 in sample config:

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>

[2015-09-02 22:36] 304NotModified commented on #4
+1

[2015-09-08 01:15] sbohlen commented on #90
Fixed in https://github.com/net-commons/common-logging/releases/tag/3.3.0.GA.

[2015-09-08 01:15] #90 closed

[2015-09-21 22:51] DannyVarod opened #102 "Common.Logging.NLog41 binding to NLog should be changed back to version 4.0.0.0 instead of 4.1.0.0"
NLog 4.1.0 was accidently released as AssemblyVersion 4.1.0.0 instead of 4.0.0.0.
This was amended in version 4.1.1, however, anyone using Common.Logging.NLog41 will not be able to use NLog 4.1.1+.

See: http://nlog-project.org/2015/09/12/nlog-4-1-1-has-been-released.html
and: https://github.com/NLog/NLog/issues/921

Also, I really don't see why each version of NLog should have its own adaptor ins

[2015-09-22 19:57] 304NotModified commented on #102
@DannyVarod Thanks for posting here.

I propose to update the [Common.Logging.NLog41  package ](https://www.nuget.org/packages/Common.Logging.NLog41):

- Rebuild with 4.1.1
- Change the dependency to NLog 4.1.1+

The goods news, in the future there is no need to create a new Common.Logging.NLog4X. As we're release more often, it saves some effort :)

@ nlog users: sorry for the inconvenience.

[2015-09-22 19:59] 304NotModified commented on #4
FYI, this was available in an external package before and since NLog 4.1 it's in the core package (NLog)

[2015-09-22 20:57] DannyVarod commented on #4
@304NotModified  Excellent news, I should start reading the release notes :-)

If I (or someone else) adds the LogicalThreadContext support to Common.Logging and creates a pull request, what is the timeline for adding it to the next release - will this have to wait for v4.0 and if so, will v4.0 take a long time to be released?

How about adding the .Log(level, message) and .Log(level, message, exc

[2015-09-22 21:31] 304NotModified commented on #4
@DannyVarod you can also create/subscribe to a GitHub issue and then we keep you updated ;)

Why not a PR for the event properties? It support in NLog & Log4Net.

I'm curious how you would design that interface, as we recently changed it in NLog 4.

[2015-09-22 22:35] DannyVarod commented on #4
@304NotModified do you mean *void Log(LogLevel level, [Localizable(false)] string message, Exception exception);* vs. *void Log(LogLevel level, Exception exception, [Localizable(false)] string message, params object[] args);*?
The latter is much less confusing if you use arguments.

[2015-09-23 08:33] StasPerekrestov commented on #102
Thanks

[2015-10-03 01:42] 304NotModified commented on #102
Bump

[2015-10-05 13:33] jpikerun opened #103 "Common.Logging.WinRT depends on Common.Logging.Core, but core does not provide wpa81 target"
The Common.Logging.Core nuspec needs to be updated to include support for wpa81.  I cannot install the Common.Logging.WinRT nuget into a Window Phone 8.1 project because the dependency on Common.Logging.Core fails.

[2015-10-05 13:36] jpikerun opened #104 "DebugOutLogger simple logger does not function"
The DebugOutLogger uses System.Diagnostics.Debug.WriteLine() to output text, but the nuget is built with release binaries (so the Debug.WriteLine() is disabled).  A debug binary is necessary in order for this simple logger to function as intended.

[2015-10-05 14:37] fubar-coder opened #105 "Cannot add Common.Logging.Core to PCL with profile 259"
Profile 259 includes .NET 4.5, Win8, WP Silverlight 8.1, ASP.NET Core 5.0, WP 8.1, and (optionally) all the Xamarin stuff.

[2015-10-09 14:42] blsmithers opened #106 "Question: Common.Logging.Portable application in a PCL code"
I'm looking at the response for the linked question: https://github.com/net-commons/common-logging/issues/99

I'm imagining the scenario described which was very helpful:

YourPCLProject
  --ref--> Common.Logging.Portable.dll

SomeNonPCLProject
  --ref--> YourPCLProject
  --ref--> Common.Logging.Portable.dll
  --ref--> Common.Logging.Log4Net1211.dll
  --ref--> Log4Net.dll

However the problem I'm

[2015-10-09 19:06] karoberts opened #107 "Add support for Mapped Diagnostic Logical Context"
NLog 4.1 supports adding context variables that survive across logical contexts (like async/await) where the thread might change but the context is the same.

https://github.com/NLog/NLog/wiki/MDLC-Layout-Renderer

It would be great if Common.Logging could somehow incorporate something like this so I don't have to make a call to an NLog class when using Common.Logging.

[2015-10-10 08:41] yyjdelete commented on #102
So, this mean I should use Common.Logging.NLog40 for NLog 4.1.1+ in the meantime ?

[2015-10-10 08:55] 304NotModified commented on #102
Yes indeed :)

[2015-10-12 20:43] 304NotModified commented on #102
Is this repository even active? This is a easy change? @sbohlen?

[2015-10-15 22:52] sbohlen commented on #106
I'm traveling and won't be able to look into this until early next week.

[2015-10-15 22:53] sbohlen commented on #105
I'm traveling and won't be able to look into this until early next week.

[2015-10-15 22:53] sbohlen commented on #103
I'm traveling and won't be able to look into this until early next week.

[2015-10-15 22:54] sbohlen commented on #98
I'm traveling and won't be able to look into this until early next week.

[2015-10-15 22:54] sbohlen commented on #102
I'm traveling and won't be able to look into this until early next week.

[2015-10-16 11:28] 304NotModified commented on #102
OK thanks for the up!

[2015-10-16 17:31] bradwilson opened #108 "Add support for DNX"
Because the PCLs built here are not System.Runtime PCLs, they cannot be used in DNX. There are projects using Common.Logging and Common.Logging.Core that I would like to port to DNX, but cannot do that without either System.Runtime PCLs, or DNX-specific libraries.

I have a quick prototype ([https://github.com/bradwilson/common-logging](https://github.com/bradwilson/common-logging)) using the exis

[2015-10-19 18:31] boxofnotgoodery commented on #108
This would be a welcome enhancement to common-logging

[2015-10-27 15:16] sbohlen commented on #108
This makes total sense to me; let me take a look @ this tonight/tomorrow in more detail, but I'm 100% behind this goal...

[2015-11-11 01:05] DanubeRS commented on #102
@304NotModified This is just an assumption, but given your versioning, this would also make usage of your 4.2.0 release usable with Common.Logging.NLog40?

[2015-11-11 06:06] 304NotModified commented on #102
@DanubeRS, no it's just the other way: every NLog 4.x.y release work or will work with Common.logging.Nlog40. (with only 4.1.0 as an exception) . So 4.2.0 will work.

That's because we don't bump assembly versions and we conform to semver.

[2015-11-11 23:05] DanubeRS commented on #102
Sorry, thats what I meant. Tried it shortly after and it works fine.

[2015-11-11 23:08] 304NotModified commented on #102
OK :)

So to be clear: the Common.Logging.NLog41 package is not needed anymore (well, only for 4.1.0). But if you now install Common.Logging.NLog41 and then upgrade NLog, you get serious problems  (nuget won't handle the strong name change well).

[2015-11-14 18:30] #102 closed

[2015-11-14 19:14] sbohlen commented on #108
Merged in https://github.com/net-commons/common-logging/pull/110 ; will review shortly.

[2015-11-14 19:38] sbohlen commented on #98
Fixed in https://github.com/net-commons/common-logging/commit/f9964f86f5ae409af62f26d599db555e04884f59.

[2015-11-14 19:38] #98 closed

[2015-11-14 19:59] sbohlen commented on #106
Sorry for the delay in getting back to you on this.  I think that the failure was in my initial answer to the other question.

The way the answer _should_ have read was as follows (changes in **bold**):

YourPCLProject
--ref--> **Common.Logging.Core.dll**

SomeNonPCLProject
--ref--> YourPCLProject
--ref--> **Common.Logging.dll**
--ref--> Common.Logging.Log4Net1211.dll
--ref--> Log4Net.dll

I apolo

[2015-11-15 01:11] coderjoe commented on #98
Fantastic, this will make my life much easier come Monday. Thanks! :+1:

[2015-11-16 13:43] blsmithers commented on #106
Yes that makes perfect sense, thanks for getting back to me!

[2015-11-16 13:43] #106 closed

[2015-11-18 19:12] bchavez commented on #108
+1 for this. Trying to use `Microsoft.Framework.Logging` and it's a total mess.  Would much rather stick to one dependency than switch between `Common.Logging` (for full .net) and `MS.Logging` (for Core CLR).

https://github.com/bchavez/RethinkDb.Driver/issues/12

Hoping for a release soon! :+1:

[2015-11-18 20:24] sbohlen commented on #108
I've actually already started to look into this and it looks like its entirely feasible to do.  Right now my immediate blocker is actually some arcane failure of the DNX Beta 8 installation that is keeping me from completing my review of this.  Assuming I can solve this in the next few days, I'd be planning a release of this within about a week (preferably before we head into the Thanksgiving Holi

[2015-11-18 20:32] bchavez commented on #108
Great! ... **just** today,  at connect 2015 conference they just announced .NET Core RC1:

http://blogs.msdn.com/b/dotnet/archive/2015/11/18/announcing-net-core-and-asp-net-5-rc.aspx

And has GoLive licence. :+1:

[2015-11-18 20:36] sbohlen commented on #108
Yeah, thanks.  I'm already contemplating abandoning troubleshooting whatever is wrong with my beta 8 install and just falling over to RC1 to more easily facilitate my review of this...

-Steve B.

-----Original Message-----
From: "Brian Chavez" <notifications@github.com>
Sent: ‎11/‎18/‎2015 3:32 PM
To: "net-commons/common-logging" <common-logging@noreply.github.com>
Cc: "Steve Bohlen" <sbohlen@gma

[2015-11-21 00:28] 304NotModified commented on #57
FYI you can run Xamarin Android / iOS  on Appveyor.  We ate doing that right now for NLog 4.3 alpha.

http://www.appveyor.com/docs/lang/xamarin

License:
https://resources.xamarin.com/open-source-contributor.html

Dunno how to run unit tests, yet.

[2015-11-21 00:51] sbohlen commented on #57
Thanks, that's good to know.  I'll look into that -- we're already building on Appveyor so hopefully this will make it easier/straightforward to properly add this.

-Steve B.

-----Original Message-----
From: "Julian Verdurmen" <notifications@github.com>
Sent: ‎11/‎20/‎2015 7:28 PM
To: "net-commons/common-logging" <common-logging@noreply.github.com>
Cc: "Steve Bohlen" <sbohlen@gmail.com>
Subject:

[2015-11-21 00:56] 304NotModified opened #111 "Libs in git instead of nuget"
Quick question,

Why are all the libraries (NLog, log4net etc) in the lib folder,  and not pulled out of nuget?

Is this a historical problem or am I missing the benefits of the current approach?

[2015-11-21 00:59] 304NotModified commented on #66
I think this would be nice as sourceforce is really out to date.

[2015-11-21 01:01] 304NotModified commented on #32
I think this should be closed. (inactivity)

[2015-11-21 01:04] 304NotModified commented on #4
@DannyVarod I think a PR would be nice

I'm curious about this too. @sbohlen can you respond on this?

[2015-12-09 13:46] Shachar1 opened #113 "ApplicationInsightsLoggerFactoryAdapter - Is it working?"
Hey, I've wrote a a little console app to see the combination of application insights and common.logging.
I've added the adapter to the app.config - with my AI key ( I had to change the type of the factory adapter to Common.Logging.ApplicationInsights0170 which is the version I'm getting from nuget),
, and sent the logs but I don't see any logs in the AI dashboard , I also run a search for trace,

[2015-12-22 19:17] boxofnotgoodery commented on #108
Curious if there was any progress here.
-- Just checking, not trying to pester

[2015-12-22 20:54] sbohlen commented on #108
No worries; its a fair question.  I've been doing a crazy amount of traveling but have the week betw XMAS and New Years off with the intent to finish on this during that coming week.

-----Original Message-----
From: "John Fly" <notifications@github.com>
Sent: ‎12/‎22/‎2015 2:17 PM
To: "net-commons/common-logging" <common-logging@noreply.github.com>
Cc: "Steve Bohlen" <sbohlen@gmail.com>
Subject:

[2016-01-08 18:35] vic10us opened #115 "Parser Error Message: An error occurred creating the configuration section handler for common/logging: parent configuration sections are not allowed"
Problem when using Web.config

This config:
[code]

results in the following error:

[code]

Please help :sos:

[2016-01-13 13:40] SchalkVersteeg commented on #78
Hi Steve,

I am struggling to add Common.Logging.Core and Common.Logging.Portable to my Xamarin.Android project, Common.Logging.Core 3.3.1

Here is a screen shot of the Xamarin.Forms pcl nuget directory structure, which is working.
*(Note the MonoAndroid10, MonoTouch10 and Xamarin.iOS10 additions)*
![image](https://cloud.githubusercontent.com/assets/7126541/12295664/3f3ba59c-ba0b-11e5-9414-7da0a86

[2016-01-13 13:50] SchalkVersteeg commented on #57
Hi Steve,

I am struggling to add Common.Logging.Core and Common.Logging.Portable to my Xamarin.Android project, Common.Logging.Core 3.3.1, had a look at #78 and think this is the same issue, thus I had a look at the directory structure of Xamarin.Forms, which do install on MonoAndroid and Xamarin.IOS.

Here is a screen shot of the Xamarin.Forms pcl nuget directory structure, which is working.
*(N

[2016-01-13 15:59] vic10us commented on #115
Nothing? :disappointed:

[2016-01-13 16:07] sbohlen commented on #115
Sorry for the delay, I am traveling on business; let me try to take a look @ this for you tonight when I get to a hotel room and have some down-time....

[2016-01-13 16:07] vic10us commented on #115
Thank you very much! :)

[2016-01-16 23:26] 304NotModified commented on #4
Bump. This discussion was stopped suddenly...

[2016-01-16 23:32] 304NotModified commented on #111
@sbohlen?

Should we worry that this library doesn't get the attention that it needs? (issues, questions and pull requests without reply)

[2016-01-19 07:35] yoshia0305 opened #116 "memory leak with log4net"
Hello,

I often encounter a memory leak issue when using common log with log4net for my web project. Once any of my pages is request, memory usage is increased higher and higher. Not always, but often. Could anybody give me a hint? Thanks.

My environment could be found with attachment.

[Web.config.TXT](https://github.com/net-commons/common-logging/files/95503/Web.config.TXT)
[log4net.confi.TXT](

[2016-02-02 07:15] yoshia0305 commented on #116
It is a bug of log4net.
https://issues.apache.org/jira/browse/LOG4NET-82
https://issues.apache.org/jira/browse/LOG4NET-367

[2016-02-02 07:15] #116 closed

[2016-02-03 13:11] thomasjoscht commented on #81
Hey, are there any plans to implement this in near future? I'm still using the following hack which makes direct referencing of log4net assembly necessary:

`log4net.GlobalContext.Properties["LogsDirectory"] = "somedir";`

[2016-02-13 02:23] Wind010 commented on #84
I did the same thing, but just used added the line to \common-logging\src\Common.Logging.EntLib60\Logging\EntLib\EntLibLoggerFactoryAdapter.cs:
Logger.SetLogWriter(new LogWriterFactory().Create());

The workaround is to just call this in your own code which is probably why no change has been made yet:
Logger.SetLogWriter(new LogWriterFactory().Create());

You should fork from the project and contr

[2016-02-29 14:43] thomasjoscht commented on #81
Hey, sorry for my spamming, but does no way exists to configure the path for logfiles of log4net with common logging at start/run time without using log4net assembly directly? I couldn't configure it hardcoded in configuration file because the logpath will depend on user account using my application. Thx

[2016-03-01 13:38] dikoga opened #118 "Failed obtaining configuration for Common.Logging from configuration section 'common/logging'."
Guys,

I am trying to use this with Quartz.Net, but I am getting this error. I found some possible solutions and nothing could make it work, that's why I am creating this issue here. Maybe it is my mistake, could you point in the right direction?

These are the messages:

- Failed obtaining configuration for Common.Logging from configuration section 'common/logging'.
- Configuration system failed

[2016-03-16 08:58] Alex--Jin commented on #116
is there any solution? please advise.
Thank you.

[2016-03-18 02:39] yoshia0305 commented on #116
In my case (a web project), it is caused by invalid physical log file setting.
before:
`
<file value="C:/my_folder/my.log" />
<datePattern value=".yyyyMMdd" />
`
after:
`
<file value="C:/my_folder/" />
<datePattern value="my.lo\g.yyyyMMdd" />
`

BTW, to identify the issue, it is suggested to enable log4net internal log.

[2016-03-25 18:34] kbdguy opened #119 "Documentation needs to be fixed:"
Issue "Default Console Logger does not respect the showDataTime configuration #79" has documented the problem.  The issue was closed by sbohlen on Feb 8, 2015, but the related documentation is still wrong.  In section 1.4.1. Declarative Configuration, the example app.config file entry "<arg key="showDataTime" value="true" />" needs to be changed to "<arg key="showDateTime" value="true" />".

[2016-04-02 16:37] trayburn commented on #108
Hello, joining the thread of :+1: on really wanting this.  We've traditionally used Common.Logging in the Highway Framework as our general abstraction for logging, and are working on updating to support CoreCLR ourselves right now, and this is a stumbling block.

[2016-04-05 06:06] abrasat commented on #8
What is the actual status of this issue, does Common.Logging meanwhile support multiple factory adapters ?

[2016-04-18 06:37] taspeotis commented on #104
Yes, it's most bizarre that this class is shipped in its current state. ReSharper decompiles the code to:

[code]

The method description is also wrong (it doesn't write to `Console.Out` [like it claims](https://github.com/net-commons/common-logging/blob/master/src/Common.Logging.Portable/Logging/Simple/DebugLogger.cs#L53).)

[2016-04-21 17:45] sbohlen commented on #111
I appreciate your concern, but TBH I'd not worry too much about the care this project gets.  Unfortunately thus far in 2016 I've been repeatedly reminded of the old adage that "_life is what happens while you're busy making other plans_" :-/

The effect of this has been that for the past several months I've had a series of family issues arise that have kept me from applying much time towards this

[2016-04-21 17:45] #111 closed

[2016-04-21 17:52] sbohlen commented on #8
Sorry for the delay in this; in its current (released) state, multiple adapters are not presently supported.

I actually have a rudimentary version of this working locally, but ran into some challenges in the related changes to the way XML config parsing would need to work to support this.  As mentioned elsewhere, I had some personal issues to address in the first half of 2016 that prevented me fr

[2016-04-21 19:15] sbohlen commented on #119
OK, I'll bite -- where the heck are you seeing this?  I've just done a full-text search over the entire repo and can't seem to find any instances of the string "showDataTime" :-/  Can you help me understand where you're seeing this as still needing to be corrected?  I must be (overly)dense, but I can't for the life of me find the location of this error .... (HELP!)

[2016-04-21 19:50] sbohlen commented on #108
@trayburn I'd actually put this effort to the side owing to all the recent churn in .NET Core fundamentals (everything from naming conventions to APIs to the right NuGet feeds to get the packages from).  Now that its all (more or less) stabilized with the effort reaching RC2 recently, I can come back to this and hopefully finish it in short order (next few weeks at the latest, I'd be hoping!)

[2016-04-21 20:47] sbohlen commented on #104
This is an interesting (and totally valid) point.  I suspect the comment re: writing to Console.Out is left over from what must have been a copy-paste of the ConsoleOutLogger source (tho TBH, I really don't recall that far back in time!)

Given the fact that System.Diagnostics.Debug is only available in DEBUG binaries, I suppose that the only viable solution would be to ship the DebugOutLogger in

[2016-04-21 20:49] sbohlen commented on #32
Agreed.  We can re-open this later if needed.

[2016-04-21 20:49] #32 closed

[2016-04-21 20:50] sbohlen commented on #36
Closing due to inactivity.  Can be reopened again as necessary.

[2016-04-21 20:50] #36 closed

[2016-04-21 22:19] 304NotModified commented on #111
Thanks for the comprehensive answer!

I think nuget would make its easier for outsiders to contribute which can be an important thing in OSS.

We have seen also failed builds with nuget, bit I think this is last year 1/500 times. Non parallel restore helps in getting things stable. Also you could include the packages folder in git?

With the upcoming project.json you can upgrade a project dependen

[2016-04-21 22:24] 304NotModified commented on #111
One side note, I don't see a problem in taking a break with developing, but if people send PRs and don't get any response, then probably they won't do that again in the future.

[2016-04-22 00:44] sbohlen commented on #111
Yeah, FWIW I completely agree.  In hindsight if I'd know that this unexpected hiatus was going to last nearly 4 months I'd probably have tried to take steps to ensure that there was someone still covering activity on the project in my absence.  In this case, it was literally death-by-a-thousand-cuts where each week I really thought I was going to be able to return to focus on this again only to di

[2016-04-22 00:47] sbohlen commented on #111
I'm curious as to the thinking behind this statement:

Can you elaborate on how it would reduce friction for contributors if this projects' dependencies were expressed as NuGet packages instead of direct references to binaries stored in the repo --?

I concur that its important to lower the barriers to outsider/newcomer participation in OSS projects and so if I'm overlooking some benefit to using

[2016-04-22 00:58] taspeotis commented on #104
According to http://stackoverflow.com/a/9987984/242520 you might get away with `#define DEBUG` in just the source file that calls `Debug.WriteLine`.

[2016-04-22 01:14] sbohlen commented on #104
Interesting; thanks for that idea, I'll def. experiment a bit to see if that works or not.  TBH I'm not 100% certain how _else_ to potentially solve this.

At least currently, the `DebugOutLogger` is defined in the `Common.Logging.Portable` assembly.  Since this is a 'foundational' assembly that's referenced by (nearly) every other assembly in Common.Logging, compiling it only as DEBUG would almos

[2016-04-22 03:22] karldodd commented on #108
Really looking forward to this, as many of our libs depend on Common.Logging (just like @trayburn ), which blocks our transition to .NET Core.

[2016-04-22 09:22] sbohlen commented on #108
Agreed; its *definitely* coming!

[2016-04-22 10:00] sbohlen commented on #104
Good news -- the 'local' `#define DEBUG` worked just as advertised, so fixed in https://github.com/net-commons/common-logging/commit/f02e6a606306868ff0240102a134836a8752476d.

[2016-04-22 10:00] #104 closed

[2016-04-22 10:06] sbohlen commented on #115
This looks correct (see https://github.com/net-commons/common-logging/blob/master/examples/SimpleWebApplication/web.config).  I'm unable to repro your error; can you validate/verify that this problem persists --?

[2016-04-22 11:47] sbohlen commented on #84
Fixed in https://github.com/net-commons/common-logging/commit/b9f6fea8af5b0c270258743db1f2ecc0d10428d8.

[2016-04-22 11:47] #84 closed

[2016-04-23 22:27] sbohlen commented on #8
OK, I've just merged my initial implementation of this feature and pushed it to MASTER in https://github.com/net-commons/common-logging/commit/b130c7e605310df4e930aed5145d4c087032288c.

I'd really appreciate it if anyone interested in testing it would pull the code, build, and experiment with it to validate not only that it works properly (I've of course already done some rudimentary testing of th

[2016-04-27 14:41] sbohlen commented on #108
OK, I've now pushed the recent changes to MASTER in https://github.com/net-commons/common-logging/commit/78c3b1b19d9e7c6d9e44dd57375483abe368f977 and https://github.com/net-commons/common-logging/commit/2d4eaf0ce36e7f6ddee110f60c70b56c4f6b6c54.  I'd appreciate it if people would take a look at this and comment before I go much farther with it.

Its only an initial implementation, but AFAICT it sho

[2016-05-11 01:25] brantburnett commented on #108
@sbohlen

I'm also interested in the DNX support for Common.Logging, as I'd love to implement it for the Couchbase .Net SDK.  We've recently started working moving towards .Net Core support in the SDK with a variety of changes, and this is one of the blockers.

If it's of any assistance, I found an approach for dealing with configuration files that works across .Net 4.5 and .Net Core, though it do

[2016-05-11 18:00] sbohlen commented on #108
Thanks for the suggestion; I'll definitely take a look at that approach shortly.

FWIW, in my research into this on and off over the past several weeks I've also found [an MSDN Article](https://msdn.microsoft.com/en-us/magazine/mt632279.aspx) that suggests that there is a pretty strong concept in .NET Core around configuration, even if its presently (like much of .NET Core) quite poorly-documented

[2016-05-11 23:22] mikegottlieb commented on #103
Any news on this? I still get the same error.

[2016-05-12 00:08] sbohlen commented on #103
Sorry about the delay; I'll look into resolving this for you first thing tomorrow morning.  At first glance it sounds like (mostly?) just a package metadata oversight; AFAIK we're not doing anything that would preclude support for the WP8.1 TFM.

-----Original Message-----
From: "Mike Gottlieb" <notifications@github.com>
Sent: ‎5/‎11/‎2016 7:22 PM
To: "net-commons/common-logging" <common-logging@n

[2016-05-12 00:43] jpikerun commented on #103
Agreed. I think it is just a nuspec issue.
On Wed, May 11, 2016 at 8:08 PM Steve Bohlen <notifications@github.com>
wrote:

[2016-05-12 19:54] sbohlen commented on #103
Actually, as I look into this, it might be a bit more complicated than just correcting NuSpec metadata.  In Visual Studio (2015, Update 2) I'm precluded from adding a reference of `Common.Logging.Core` into `Common.Logging.WinRT` with a "the portable targets are not the same or compatible" error.

I'd be interested in any input from anyone as to _why_ this is the case.  As far as I can tell, the P

[2016-05-12 21:39] brantburnett commented on #108
@sbohlen

Yes, that's the article I based most of my work on.  Based on my reading, I think the lack of standards you are referring to is actually a part of the design.  It seems like the premise is to allow the user to structure the file however they like.  Meaning they could put the Common.Logging configuration at any spot in the file they want, in any format they want (XML/JSON/etc) so long as

[2016-05-12 21:47] sbohlen commented on #108
Interesting (and quite helpful!), thanks!

I completely agree that the flexibility provided by the various ways to 'override' the reading of the config values offers benefits in re: testing, etc.  I also like the concept of offering some sort of 'formal front door' for the consumer to pass the config data into `Common.Logging` and then for us to also provide a fall-back 'default' file should the s

[2016-05-13 14:06] sbohlen commented on #103
Circling back on this to share an update....

I've performed further testing and exploration into this and I am now 99% convinced that this is a tooling bug in the add-reference tool in VS 2015.  I'm currently running VS 2015 Update 2 and unfortunately I don't have a system with VS 2015 pre-Update 2 to help determine _exactly_ when this behavior changed.  However I was able to find a system with V

[2016-05-13 14:59] mikegottlieb commented on #103
@sbohlen Thanks for following up on this. I'm building an app using Xamarin for iOS, Android, and Windows Phone 8.1 specifically (yeah I know, but its not my call). It is incredible how little support is available when you add Windows Phone 8.1 into the mix. Half of Xamarin's own libraries barely work. I really appreciate you looking into this.

[2016-05-19 15:00] abrasat commented on #8
Definitely a very useful feature. For instance this would be a possible usage:

`

            ConsoleOutLoggerFactoryAdapter consoleOutLogger = new ConsoleOutLoggerFactoryAdapter();
            consoleOutLogger.Level = LogLevel.All;
            consoleOutLogger.ShowLevel = true;
            consoleOutLogger.DateTimeFormat = "o";
            consoleOutLogger.ShowDateTime = true;
            consol

[2016-05-22 20:43] sbohlen commented on #103
FWIW I've now managed to (finally) confirm that https://github.com/net-commons/common-logging/issues/103#issuecomment-218867074 is indeed a bug in VS 2015.  It first appeared in Update 1 and is still present in Update 2 and is related to the introduction of support for .NET Core that was added to the PCL-compatibility-checker that validates attempts to cross-reference assemblies during the add-ref

[2016-05-23 01:57] sbohlen commented on #8
I'd been hoping to delay the next release until after .NET Core went GA, but its now looking as if that's far enough out that delaying until formal/final support of .NET Core can be included is probably impractical.  As such, I'll post a pre-release (probably a beta) of the present state shortly (probably tomorrow) including this new adapter, with an eye towards the next GA release of Common.Loggi

[2016-05-23 08:08] abrasat opened #120 "NoOpLogger"
Would be possible to move the NoOpLogger into the Common.Logging.Core package, instead of Common.Logging.Portable ?
It would be practical to be able to use it as default LoggerFactoryAdapter also when using  Common.Logging and not only Common.Logging.Portable.

[2016-05-23 10:28] sbohlen commented on #120
That's an interesting idea; some time ago the decision was made that `Common.Logging.Core` would contain _only_ the abstractions (i.e., interfaces, etc.) and that all behavior would be moved out to reside in the 'downstream' assemblies.  Granted `NoOpLogger` is a bit of a 'special case' (where even though it contains 'behavior', its sort of a non-behavior behavior), but at the time it seemed inapp

[2016-05-23 13:10] abrasat commented on #120
Thanks for considering it.
If you dont want to "pollute" Common.Logging.Core, maybe a better solution would be to put the NoOpLogger into an own package, instead of putting it in both Common.Logging and Common.Logging.Portable. This would allow to use it as default in DLLs, which should be "agnostic" of the configuration of the real LoggerFactoryAdapter, set by the main appplication using the DLL

[2016-05-23 15:36] sbohlen commented on #120
That's an interesting suggestion, to place the `NoOpLogger` into its own NuGet package (in the same way the other "3rd-party" loggers/adapters (e.g., `Log4Net`, `NLog`) are each in a separate package.  I start to wonder a bit whether the same argument could be made about the other "built-in" loggers (e.g., `ConsoleOutLogger`, `DebugOutLogger`).

I suppose a number of these decisions are all the le

[2016-05-23 20:16] cumminsjp commented on #115
I am also getting this error with my WebAPI (.NET 4.5.1) and I'm just using a TraceLoggerFactoryAdapter.  I haven't worked out what the cause is.  For me, I get it when I click the WebAPI help (or if I load that url directly).  But if I just load the site, I don't get errors on the startup.  But when I click API, I do get the error:

![image](https://cloud.githubusercontent.com/assets/5941336/1548

[2016-05-23 20:53] sbohlen commented on #115
@cumminsjp

Any chance you could provide a (minimal) repro for me (either in a public git repo somewhere or else by directly emailing me a sample if it contains code you don't want to share publicly for any reason) --?  I'm happy to try to puzzle out for you what's wrong here (esp. since it seems that,while not ubiquitous, this error also isn't _entirely_ unique to just one situation), but without

[2016-05-23 22:13] sbohlen commented on #103
This is fixed in https://github.com/net-commons/common-logging/commit/6ab4a9835f0ccad1cd8c81c410a0323b5e3e71fe and has been pushed to NuGet as 3.3.2-Alpha1 and will be included in the official release of 3.3.2 (and forward).  I'm going to close this issue for now -- if by chance this fails to properly fix the issue, please return here and re-open this issue accordingly.

Thanks again for you patie

[2016-05-23 22:13] #103 closed

[2016-05-23 22:16] sbohlen commented on #8
This has now been pushed to NuGet as 3.3.2-Alpha1 (pre-release) to facilitate further testing/evaluation.  Please let us know if any issues turn up in testing/review of this feature.  Assuming no show-stoppers are identified, we'd expect to have this feature formally supported when 3.3.2 goes GA in the next few weeks.

Thanks!

[2016-05-23 22:17] sbohlen commented on #119
Anything --?  We want to try to address this, but can't seem to locate the (still) incorrect text; thanks!

[2016-05-24 13:41] cumminsjp commented on #115
So....when I tried to create a small repro-repo with a matching set of packages, I couldn't reproduce.  Eventually, I ended up clearing out the DevelopmentServerPort and IISUrl out of the csproj and letting Visual Studio pick a new one. And that resolved it.

I must have something spun up on that port, but I haven't been able to track it down.

[2016-05-24 14:01] sbohlen commented on #115
OK, great -- my kind of issue, the one's that solve themselves:)  Happy you were able to get past it.

I'll close this issue for now and we can re-open it if necessary should more info become available or the situation changes.

[2016-05-24 14:01] #115 closed

[2016-05-25 04:52] mikegottlieb commented on #103
Awesome!

[2016-05-31 22:45] aaronmell opened #121 "Add Support for Serilog"
I'd like to see support for Serilog as part of Common.Logging. It might make for an interesting side project, and something that isn't too much effort to implement.

What version(s) need to be supported? Is it okay if the implementation only targets the current version 1.5?

Anything specific that someone implementing the new logger would need to be mindful of?

[2016-06-01 10:35] sbohlen commented on #121
Wow -- how's that for serendipity???  There were two new logging targets for which I was hoping to add support leading up to the 3.4 (next) launch: one was ETW, which we've just now pushed to MASTER in its initial ALPHA state this past weekend, and the second was `Serilog`.

About a month ago I'd done some initial research leading up to that effort, but no code has yet been written.  If you'd want

[2016-06-01 13:57] aaronmell commented on #121
I was thinking about working on it towards the end of the week, maybe over the weekend some and into next week assuming nothing comes up. On the surface it doesn't seem like too much work, but I guess I won't know exactly until I dig into it.

[2016-06-01 15:35] sbohlen commented on #121
Ha -- yes, not seeking an estimate for a scope you can't quantify as much as seeking general intent :)  That sounds perfectly fine to me -- let us know if you hit any blockers and we'll try to assist.  Looking forward to the contribution and thanks again!

[2016-06-04 21:01] aaronmell commented on #121
I've got a very rough version passing a few tests and I have a question about an implementation detail. Serilog doesn't have any sort of namespaced logging. It does offer the ability to enrich a log statement with additional meta data, so I think I am going to add the namespacing that way.

[2016-06-04 22:00] sbohlen commented on #121
From what I understand, I'd agree that seems a reasonable approach as a first-pass.

[2016-06-06 11:25] techgeek03 opened #122 "Common.Logging.NLog20 with .Net 2.0"
Hello,

Common.Logging.NLog20 Nuget package does not target .Net framework 2.0 where NLog 2.1.0 is the latest version form NLog that supports .Net 2.0.
You need to include the correct support.
Thanks!

[2016-06-07 02:48] aaronmell commented on #121
I'm ready for a code review. I tried to keep things inside the serilog assemblies as best as possible. However, I did have to modify a few things to make it fit correctly. If you can think of a better approach, I can make some corrections.

[2016-06-07 12:44] sbohlen commented on #121
Thanks for this -- I'll take a look ASAP.  Unfortunately I'm traveling this week on business, but will try to dig into this during the next few days while I'm still away.  Based on my schedule, I may not be able to give this a thorough once-over until the coming weekend, but I'll try to review it sooner if at all possible.

[2016-06-07 12:48] sbohlen commented on #122
Thanks for catching this; its definitely a NuGet packaging oversight on our part.  We'll add .NET 2.0 to the packaging metadata and include it in the next push/update (its likely that we'll push a formal 3.4 release to NuGet once the work on https://github.com/net-commons/common-logging/issues/121 is completed).

[2016-06-07 15:50] techgeek03 commented on #122
Thank you very mach! It will certainly be helpful for all those legacy project that we still need to maintain.

[2016-06-14 13:42] kbdguy commented on #119
Sorry I was "asleep."  The documentation still unfixed is here:

http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-declarative-config

[2016-06-14 13:55] sbohlen commented on #119
No worries; we all have a combination of life and our day-jobs to distract us :)  Thanks for clarifying; that explains why I couldn't find the erroneous text -- its on the sourceforge site (rather than here on github or in the source repo).

We're in the process of decommissioning the sourceforge site in favor of github-based content (see http://net-commons.github.io/common-logging/) but its not q

[2016-06-18 11:47] sbohlen commented on #121
I've merged [the PR](https://github.com/net-commons/common-logging/pull/123).  Given your commit commit identifying this as a "first pass", can you let me know if there are other features you'd (still) want to add to your implementation before we'd consider it "ready to be released"?

[2016-06-18 16:55] sbohlen commented on #122
This is fixed in https://github.com/net-commons/common-logging/commit/a843f874d94e8af1fc24079dd8b3c6aaa149971d and will shortly be pushed to NuGet as 3.4-alpha1; assuming nobody reports any issue w/ it, it will become official once 3.4 goes GA (hopefully by mid-JULY).

[2016-06-18 16:55] #122 closed

[2016-06-18 17:05] sbohlen commented on #121
Also, I've just become aware that [this test fixture](https://github.com/net-commons/common-logging/blob/master/test/Common.Logging.Serilog1514.Tests/Logger/Serilog/SerilogTests.cs#L31) has two failing tests from the base-class; I've (temporarily) placed an `[Ignore]` attribute on the fixture so the CI build won't be in a **RED** condition.  It will probably be at least a few days before I'm able

[2016-06-20 20:19] aaronmell commented on #121
I think I got all of the features required for a first pass. I don't see anything obvious that is missing.

[2016-06-20 20:24] aaronmell commented on #121
Not exactly sure just from a glance at the build as to why its failing. The tests were green passing originally on my PR. Looks like some refactoring may have introduced the failures. If I get a chance the next couple of days, I'll try pulling latest and see if I can't tell whats gone wrong.

[2016-06-20 20:33] sbohlen commented on #121
Thanks; if they were (initially) passing for you then its quite likely some of my refactoring introduced the failure.  I (probably) won't be able to look @ this until the coming weekend so if you have a chance before then please let me know what you find.  Otherwise, I'll address it this coming weekend by comparing your PR to the current state of MASTER and using that as a guide to the issue.

[2016-06-21 03:25] sinall opened #124 "ILog doesn't have a common method with LogLevel as argument"
A common method could be like this:
`Log(string message, LogLevel level)`

Don't know why common-logging doesn't have this, I can see it is in log4j and other loggers. It could make things much easier sometimes.

[2016-06-21 09:54] sbohlen commented on #124
Seems a reasonable convenience method to me.  Common.Logging doesn't have this (yet) b/c TBH "level I want to log" is almost always a design-time decision rather than a run-time decision (although I can def. see at least a scenario or two where it might want to be made at run-time).

Indeed, you will note that this suggestion is a duplicate of https://github.com/net-commons/common-logging/issues/8

[2016-07-03 18:21] sbohlen commented on #121
Just to close the loop on this, I finally had time this weekend to return to your PR and confirm that (on at least two sep. systems) the same two tests fail in your original PR as well (meaning it seems unrelated to any of the post-merge refactoring I'd done as we'd hypothesized).

I've since confirmed that this is b/c Serilog doesn't have the `[AllowPartiallyTrustedCallers]` attribute on its asse

[2016-07-03 18:21] #121 closed

[2016-07-04 19:20] sbohlen opened #125 "ETWLogger implementation fails with ERROR (duplicate instance of GUID registered)"
The current implementation of ETW support results in the following errors reported in the ETW subsystem:

While unrelated to .NET Core per se, initial investigation into the cause of this suggests that its the same issue raised in https://github.com/dotnet/corefx/issues/5755 for the CoreFx of .NET Core itself.  For a detailed understanding of this issue (and its cause) see https://github.com/dotne

[2016-07-06 01:33] sbohlen commented on #125
Resolved in https://github.com/net-commons/common-logging/commit/558f301a0043f95a986867d2e55ef40f84993762, https://github.com/net-commons/common-logging/commit/012ff17750bcb5b3c14cfdf9c741b5708aea4676, https://github.com/net-commons/common-logging/commit/91926375aa58e564ed4f21027d8ade7585a70815, https://github.com/net-commons/common-logging/commit/3243d69322af4a2789cfcaa989d5f621fe1dac04 by introd

[2016-07-06 01:33] #125 closed

[2016-07-14 02:52] haroldma opened #126 "Could not install package 'Common.Logging.Portable 3.4.0-Alpha1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259'"
But Core is supported.

[2016-07-14 09:22] abrasat commented on #8
Can you please check the links with the description of the configuration of multipleLoggers, as they seem invalid right now.

[2016-07-14 09:58] sbohlen commented on #126
The `Alpha1` build was based on the pre-GA version of .NET Core, so my first guess is that this mismatch is probably the cause of the issue you're seeing here.

`MASTER` has already been updated to reflect the latest (GA) release of .NET Core and our hope is to be able to push an updated package (probably `Alpha2` or `Beta1`) to NuGet this coming weekend.  Once we do, I'll loop back here with a no

[2016-07-14 14:51] sbohlen commented on #8
@abrasat thanks for the heads-up; it should be all fixed now.  A subsequent commit actually adjusted the path to the TEST project for the `MultipleLogger`, breaking the prior URLs.  I'm pretty sure I've corrected each of the URLs in the comment now; let me know if you find any that I've missed.

Cheers!

[2016-07-21 22:25] B3nCr opened #127 "Stack overflow exception when adding a trace listener."
Hi

I'm trying to get the trace logging from a third party library included in my common.logging output. However, when I add a trace listener I start getting stack overflow exceptions. Presumably something in my chain of listeners and loggers is getting in a loop but I can't really understand what.

The error seems to be thrown from this line but I can't be 100% sure because I don't know how stack

[2016-07-22 18:56] sbohlen commented on #127
I'll take a look at this over the coming weekend and see if I can reproduce it to deduce what might be wrong (assuming its something with Common.Logging and/or your configuration of it or Log4Net).

[2016-07-24 19:25] sbohlen commented on #127
I've manged to do some experimenting and I've confirmed that this is definitely a bug in our Log4Net implementation.  The same `CommonLoggingTraceListener` configuration with `Common.Logging` set to use `NLog` instead of `Log4Net` (as in the following config) doesn't evidence the same StackOverlowException and works as intended/advertised.

[code]

At first glance the origin of the overflow appear

[2016-07-25 10:57] B3nCr commented on #127
I've implemented my own trace listener with it's own instance of a Common.Logging ILog logger and call the log methods in there, it seems to work.

[2016-07-25 14:20] sbohlen commented on #127
That's interesting -- would you mind sharing your (working) implementation so that I could see what you might be doing differently than the present `CommonLoggingTraceListener`?  It might help me more quickly isolate the source of the underlying problem...

[2016-07-25 19:40] B3nCr commented on #127
I've not done anything like that level of implementation, I've just
overridden a write method and pushed the input to a logger.

On Mon, Jul 25, 2016 at 3:20 PM, Steve Bohlen <notifications@github.com>
wrote:

[2016-07-25 20:49] sbohlen commented on #127
Ah, understood -- thanks anyway.  Back to the drawingboard for me on this, I guess :)

[2016-07-26 12:58] sbohlen commented on #127
Curious: does your 'replacement' `TraceListener` that you report now works for you also call `LogManager.GetLogger(...)` internally?  Or is it writing elsewhere (independent of `Common.Logging`)?

The reason that I ask is that I'm pretty certain that I've now determined that the underlying cause of the recursion/stack overflow you're reporting:

The `CommonLoggingTraceListener` uses the `Common.Lo

[2016-07-27 11:21] B3nCr commented on #127
Hi

This is my code...

    public class LoggingTraceListener : TraceListener
    {
        private static readonly ILog Logger = LogManager.GetLogger<LoggingTraceListener>();

        public override void TraceEvent(TraceEventCache eventCache, string source, TraceEventType eventType, int id, string format, params object[] args)
        {
            if (Filter == null || Filter.ShouldTrace(eventC

[2016-07-28 09:55] sbohlen commented on #127
Thanks for sharing that; its quite helpful to see how you managed to solve this and it does indeed point to confirmation that my hypothesis as to the underlying cause of the issue is correct.

I'll have to experiment a bit with this to be 100% certain, but at first glance I'm pretty certain that what's enabling you to bypass the recursive call/stack overflow condition is that you're storing the lo

[2016-08-03 11:34] B3nCr commented on #127
Sorry for the delay, these emails are going into a social filter in gmail
so they're not immediately coming up as new emails.

Yes creating the logger for each event breaks it with a stack overflow
exception.

One thing to note is that my code sinppet was wrong, I excluded the bit
that I thought wasn't relevant. It turns out that the thing i was trying to
to capture wasn't actually using the trace

[2016-08-04 17:34] jeffrymorris commented on #108
@sbohlen -

Any update on when there will be a Common.Logging .Net Core package available?

Thanks!

-Jeff

[2016-08-04 18:07] sbohlen commented on #108
My plan is to get this configuration story sorted out by approx. mid-month (AUG).

This feature (along with https://github.com/net-commons/common-logging/issues/127) are the two remaining blockers to our being able to release 3.4 GA so I'd expect this to follow shortly after that.  FWIW, the 3.4.Alpha1 release should be functional for .NET Core 1.0 now assuming you config your logging in code inst

[2016-08-05 02:52] jeffrymorris commented on #108
@sbohlen -

Awesome, thanks for the update!

-Jeff

[2016-08-08 15:03] Moily opened #128 "Extend ThreadVariablesContext To Support Stacks"
Given that nested contexts are supported in a range of different logging components would it be possible to extend the `ThreadVariablesContext` member on `ILog` to include support for the underlying stack operations so that NDC-style contexts can be supported through Common.Logging?

These new members would then map to equivalent members on `ThreadContext.Stacks["NDC"]` for log4net, `NestedDiagnos

[2016-08-09 19:36] brantburnett commented on #108
@sbohlen

One issue we're having is that the Common.Logging.Portable nuget doesn't appear to support one of the netstandard versions.  This is requiring us to import the old PCL profile instead, which I think may give problems for some consumers.  Any plans to include a netstandard compatible PCL?

https://docs.microsoft.com/en-us/dotnet/articles/standard/library

Thanks,
Brant

[2016-08-12 16:21] sbohlen commented on #128
Interesting suggestion; do you have any thoughts about what this support might look like?

[2016-08-15 10:22] Moily commented on #128
Initital thoughts were an additional or derived interface with the stack operations on that are utilised by NDCs.  The type used for `ThreadVariablesContext` would then implement this and map those operations onto the corresponding members of the actual loggers.

I'll fork and try it out first and issue a PR if all well and good, if that's ok?

[2016-08-15 10:23] sbohlen commented on #127
Fixed in https://github.com/net-commons/common-logging/commit/72a74e82c473b788575c57dfb3ccb948214926fd.

[2016-08-15 10:23] #127 closed

[2016-08-15 10:24] sbohlen commented on #128
Yes, that would be great; let me know if you run into any issues with which we can assist!

[2016-08-15 10:58] sbohlen commented on #108
@brantburnett

The plan (at least at this time) isn't to have the Common.Logging.Portable package support netstandard.  In our (near-term) estimation, this isn't feasible b/c of the differences in e.g., project system, tooling, etc. between netstandard and all other PCL targets.

Instead, we've already spun up a NetCore-specific project here https://github.com/net-commons/common-logging/tree/maste

[2016-08-15 13:11] brantburnett commented on #108
@sbohlen

I'll give it a shot and see what we can do.  We're actually building a netstandard compatible library, so I'm not sure if it will work or not.  Depends on how we can make the dependencies work and vary them based on the target.

[2016-08-15 14:55] sbohlen commented on #108
@brantburnett

Our objective/goal for that assembly is that it properly support NetStandard, so if you discover otherwise, please do let us know ASAP.  This is still in active development so we've not (yet) done full compat-testing, but my expectation is that in its present form it _should_ work for you (minus externalized/file-based configuration, which as mentioned is coming but not yet complete

[2016-08-17 09:09] B3nCr commented on #127
@sbohlen is this going to be in a pre-release nuget any time soon? I don't fancy building from source to then revert back to nuget in a couple of days time.

Thanks
Ben

[2016-08-17 10:20] sbohlen commented on #127
I'll try to push an Alpha2 pre-release package (with this fix) to NuGet later today.  Standby....

[2016-08-22 22:07] jgowdy commented on #107
This would be huge for our team.  I ended up writing my own assembly to abstract this out as we transition from log4net to NLog.

[2016-08-22 22:08] jgowdy commented on #108
If there's any way you can publish a pre-release package that contains the NetStandard binaries, that would be awesome.

[2016-08-23 00:00] karoberts commented on #107
I also ended up building my own using AsyncLocals.

[2016-08-23 02:50] brantburnett commented on #108
@sbohlen

I think I may have gotten Common.Logging.Portable to support a netstandard1.3 distribution as part of the nuget package.  I've uploaded a proof-of-concept here: https://github.com/brantburnett/common-logging/commit/293598e03222a5da8ad8a9d0e13c227b08b1b190

As it turns out, you can actually create PCLs that target Net Standard without switching to the new (and soon to be obsolete) xproj s

[2016-09-02 21:10] brantburnett commented on #108
@sbohlen

Just checking to see if you had a chance to look at the proposed netstandard approach?  If you'd like, I can work on making a pull request from it, I just wanted to make sure you thought the approach would work before I go further.

Thanks,
Brant

[2016-09-03 16:07] sbohlen commented on #108
@brantburnett

Apologies for the delay -- I'd been traveling on business and didn't see your comment re: your PoC.  Let me review shortly and let you know my thoughts before you spend the time to craft a PR from it.

Standby (and thanks for the input)!

-Steve B.

[2016-09-11 15:56] Moily commented on #128
Pull Request created: #129

[2016-09-18 12:10] lahma commented on #108
While checking what it would require to port Spring.NET towards .NET Core I found Common.Logging to be the first show-stopper. I've created a pull request https://github.com/net-commons/common-logging/pull/130 to address the immediate need of having Common.Logging.Core and Common.Logging to contain also the netstandard1.3 artifacts.

Might this be something to sneak into prerelease feed for testin

[2016-09-22 02:01] sbohlen commented on #108
@lahma

I'll merge this all in and create a pre-release NuGet package based on it during this coming weekend.

[2016-09-22 06:29] lahma commented on #108
Thanks, sounds good. I'll check if I have time to add Serilog and Nlog building support before that too. They also seem to have .NET Core support already.

[2016-09-25 15:21] sbohlen commented on #108
As you can see from [the CI output](https://ci.appveyor.com/project/sbohlen/common-logging/build/1.0.153) from this merge, the build breaks due to the missing .snk file.  Any ideas how best to address that --?  It will build locally on my system where I have the .snk file present, but of course I don't want to commit that to the repo just to make the CI output GREEN.

Any thoughts --?  The only th

[2016-09-25 15:27] brantburnett commented on #108
@sbohlen

What about using build configurations to control whether it looks for the file or not?  The example segment in project.json below should work if you use a special "Publish" configuration only when building to make the nuget packages.

[code]

https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json

[2016-09-25 15:41] lahma commented on #108
Yes this was the pitfall I mentioned... @brantburnett 's solution might be the way. I decided to make Quartz's key file public as it really offers no special protection to keep it secret, anyone can build a "valid" copy now. Even Microsoft has stated that whole strong-naming is a bit obsolete: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md .

[2016-09-25 15:58] sbohlen commented on #108
@lahma yeah, I recalled that in your earlier message to me, so I wasn't surprised to see the failure TBH.

FWIW, I'm not sure I agree re: checking the .snk into the repro -- that post you reference is CORRECT that strong naming is used for identity rather than security, but IMO allowing any binary someone arbitrarily creates to 'pretend' to be Common.Logging (or NHibernate, or anything else for th

[2016-09-25 16:14] lahma commented on #108
@sbohlen sure, I understand the reasoning and I'm happy that you take the extra mile with protecting the signing key :)

If I reflect to Java land there's no concept of signing the jar files, still they seem to cope with the fact. Information security is getting harder and harder and I guess any measures that can be done to protect malicious acts is good.

I hope that you can tweak the build to wo

[2016-09-25 16:19] sbohlen commented on #108
Yeah, agreed; my anticipation is that with Common.Logging 4 we'll both do that as well as drop most (all?) of the older VS version support so that we've got a much cleaner build system and a (hopefully?) lighter maintenance burden for it.

I just pushed updated project.json incorporating @brantburnett 's suggestion -- FAICT it "works-on-my-machine"; let's see if it gets the CI build to GREEN too -

[2016-09-25 17:00] sbohlen commented on #108
OK, as of https://github.com/net-commons/common-logging/commit/91244f1da8110aed530f89d10696d4275dbc8fd5 we're only building DEBUG (and not also  RELEASE) on the CI build, meaning I've opted us out of needing to add the snk file to the public repo for at least the time being.

We're GREEN on the CI server again and I've just packaged and pushed 3.4-Alpha2 to NuGet.

We still need to address the (un

[2016-09-25 18:12] lahma commented on #108
Great, thank you!

[2016-09-30 12:29] Moily commented on #128
Additional Pull Request created: #131

[2016-10-02 12:03] sbohlen commented on #128
PR https://github.com/net-commons/common-logging/pull/131 merged; thanks for the contribution!

[2016-10-02 12:03] #128 closed

[2016-10-02 14:18] kvloover opened #132 ""No parent configuration sections allowed" on mono with identical app.config as on windows using .net"
Hi,

I'm getting the following exception while running on a raspberry pi 3 with mono 4.4:
"parent configuration sections are not allowed"

The weird thing is, it has worked for me before without issues on my raspberry pi running mono 4.4.
It is also working just fine on my windows 10 dev system.

App.config used to be configured inline for nlog, but I've altered it while trying to debug the issue.

[2016-10-02 19:29] sbohlen commented on #132
I admit I don't see anything immediately obvious in your provided config file(s) that could account for this.  Unfortunately, I've not got a Raspberry Pi of my own to test this against so I'm at a bit of a loss as to how to assist since it seems you cannot repro outside that environment (?)

Some thoughts:

1. Does the same error repro with other Common.Logging targets/adpaters than just NLog?  Pe

[2016-10-02 19:31] sbohlen commented on #126
Can you check whether the `Alpha2` release from last week solves this issue for you --?

[2016-10-03 02:11] brantburnett commented on #108
@sbohlen

Just wanted to let you know that NetStandard binaries in 3.4.0-alpha2 appears to be working great.  I have seen successful logs using the DebugLogger in ASP.Net Core on Windows, ASP.Net Core on Linux in Docker, and in Xamarin using MonoAndroid.

Now we just need more adapters supporting NetStandard. For that, we need more loggers on NetStandard.  Looks like NLog and log4net are both clos

[2016-10-03 02:16] brantburnett commented on #57
Just wanted to let you guys know that I recently got Common.Logging working on the latest version of Xamarin using the new NetStandard 1.3 binaries in 3.4.0-alpha2.  Just had to manually configure by setting Common.Logging.LogManager.Adapter to the logging adapter during startup.

Here is the blog about using NetStandard PCLs in Xamarin: https://blog.xamarin.com/net-standard-library-support-for-xa

[2016-10-03 03:54] brantburnett commented on #108
@sbohlen

I also took a swing at a configuration system that supports .Net Core.

https://github.com/net-commons/common-logging/pull/133

Brant

[2016-10-03 10:42] sbohlen commented on #57
Thanks for letting us know -- based on this I will close this issue.  If it turns out that (for some reason) the NetStandard PCLs are insufficient for Xamarin support we can re-open this issue as needed at that time.

[2016-10-03 10:42] #57 closed

[2016-10-03 10:44] sbohlen commented on #8
Closing as RESOLVED.

[2016-10-03 10:44] #8 closed

[2016-10-04 11:55] sbohlen commented on #108
Closing this issue now that we have both direct support _and_ a viable configuration story for .NET Core.

[2016-10-04 11:55] #108 closed

[2016-10-07 17:55] tofutim opened #136 "Common.Logging for Profile 7 class?"
Hi, I am able to install Common.Logging.Core via nuget, but Common.Logging is rejected. It looks like I need it to be able to use LogManager. Any tips?

`Could not install package 'Common.Logging 3.3.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile7', but the package does not contain any assembly references or content files that are

[2016-10-07 17:56] tofutim commented on #105
any progress on this?

[2016-10-07 18:07] tofutim commented on #136
Never mind I found the PCL example. Looks like I have to add an ILog or ILogManager argument to my class.

[2016-10-07 18:07] #136 closed

[2016-10-17 17:17] philipogorman opened #137 "Could not install package 'Common.Logging.Core 3.3.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111',"
I tried to install on a PCL project and got the following error:
Could not install package 'Common.Logging.Core 3.3.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111',

[2016-10-17 20:30] philipogorman commented on #137
I tried the beta and it worked
<package id="Common.Logging.Core" version="3.4.0-Beta2" targetFramework="portable45-net45+win8+wpa81" />

[2016-10-18 16:16] philipogorman commented on #137
Actually - I can't get the portable package to install on a portable project:
Could not install package 'Common.Logging.Portable 3.4.0-Beta2'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, conta

[2016-10-25 08:33] AJF4 commented on #137
I'm seeing this too, with Latest prerelease 3.4.0-Beta2

[2016-11-07 14:17] claudiuconstantin opened #138 "Specify "useColor" parameter in app.config"
`ConsoleOutLoggerFactoryAdapter` has a constructor that lets the coder specify `useColor` parameter. How can one set the same parameter from the app.config file?

[code]

[2016-11-14 15:04] isaac2004 opened #139 "Support for ASP.Net Core"
Is there something on the roadmap to support ASP.NET CORE?

[2016-11-17 03:02] tynorton commented on #139
👍  Would also like to know this.

[2016-11-17 10:50] bencameron00 commented on #139
I am waiting for this for a project that I am currently working on also. Common Logging is great and I am hoping that I can keep using it with .net core. Any roadmap timings would be great.

[2016-11-23 13:32] jjanuszkiewicz opened #140 "relax the log4net dependency version"
I can see that the latest log4net integration package (Common.Logging.Log4Net1215) depends strictly on log4net [2.0.5].

Would it be possible to relax it to something like [2.0.5,3.0), which will allow to update to a compatible (due to semantic versioning) log4net version without the need to update Common.Logging.Log4NetNNN every time? Also future versions of this package could have similar depend

[2016-11-28 07:59] MKuckert opened #141 "Add Xamarin support to NLog packages"
Currently the NLog packages can't be used in a Xamarin.iOS project. NuGet throws the following error when trying to install the `Common.Logging.NLog41` package, even when using `Beta2`:
`Could not install package 'Common.Logging.NLog41 3.4.0-Beta2'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly reference

[2016-12-12 09:21] benesradek opened #142 "EntLibLoggerFactoryAdapter log category argument"
Is it possible add log category argument to constructor of  `EntLibLoggerFactoryAdapter`? I am using adapter for translating Quartz logs to Enterprise Library. But Quartz.net is producing so many categories like `Quartz.Impl`, `Quartz.Threads`, etc. And in configuration of Ent Lib is not grouping like `Quartz.*`. I tried modify adapter locally and it works.

[2016-12-15 11:42] sbohlen commented on #142
This is certainly possible of course, however, I'd like to understand a bit more about how you see this working.  Some quick questions:

1. Am I correct in assuming that this would only affect the EntLib logging (e.g., not be a feature that should be pushed down deeper into the class hierarchy for FactoryAdapters)?
1. Is there a reason that this needs to be a CTOR argument instead of a property on

[2016-12-15 12:58] benesradek commented on #142
I'll try answer to your questions but I think the code will be the best answer.

1. Yes, affected is only EntLib adapter.
2. CTOR parameter can provide custom name for log category.
3. Yes, it same there will be parameter in CTOR too.

I have Common.Logging from nuget. I had modify only files from EntLibAdapter which were placed in another package. I'll prepare FORK for better view.

[2016-12-15 13:33] sbohlen commented on #142
Sounds good -- code is worth a 1000 words ;)

[2016-12-16 14:30] benesradek commented on #142
Modified code:
[Git Commit](https://github.com/benesradek/common-logging/commit/db7b83c2b74bcdd23ba8dd9d069558b0aacda0a6)

Using in project is:
[code]

And in logging configuration for EntLib is only one source category:
[code]

Without this modification of code I had to create category for every source of Quartz:
[code]

[2017-01-10 17:01] gjkhw commented on #105
My team also has this problem.  We are seeing it on Macs and PCs running both the latest released Xamarin Studio, and the newer alpha that is built on nuget 3.5.

My Windows box with Visual Studio 2015 is being serviced by IT at the moment, but I will work on tracking this down, looking for a solution that works on both Windows and Mac, as soon as I get it back, hopefully in the next day.

A cowor

[2017-01-12 02:43] gjkhw commented on #126
I have the same problem - the 3.4.0-Beta4 does not fix it, nor does Alpha2.  I see the same behavior on both Visual Studio 2015 Update 3 and on the latest Xamarin Studio Cycle 9 beta.

[2017-01-12 03:52] gjkhw commented on #105
Profile 259 is described with a target of portable-wpa81+win8+win81 per https://docs.nuget.org/ndocs/schema/target-frameworks .

The Common.Logging.Core.2010 project's output assembly targets Profile 328.  The same binary DLL is being packaged for netstandard1.0, portable-win+net40+sl40+wp7+wpa81, and net40.  None of those profiles are compatible with Profile 259.

However, Profile 328 is compatib

[2017-01-13 07:20] benesradek commented on #142
Hello Steve, what are you saying to my changes? Is it possible to pull request?

[2017-02-11 15:36] sbohlen commented on #139
The thinking right now is that the roadmap would be for us to resolve the remaining PCL packaging/targeting issues with the current 3.4-beta and then to attempt to pivot to 4.0, which would switch to the ".NET Standard" packaging targets with the intent of having a .NET Core support story to it.

[2017-02-11 15:37] sbohlen commented on #126
We'll investigate this shortly; the plan is to resolve this before the 3.4 release goes GA.

[2017-02-11 15:38] sbohlen commented on #105
We'll look to resolve this shortly and re-issue another 3.4-pre-release package for testing.

[2017-02-11 15:56] sbohlen commented on #140
Unfortunately, while you're right that making such a change would solve that _specific_ problem, it also introduces others.  In fact, `Common.Logging` _used_ to work that way re: versioning and dependencies, but we explicitly abandoned the strategy some time ago as laid out in [the wiki here](https://github.com/net-commons/common-logging/wiki/Common.Logging-Packaging-and-Versions).

Ironically, it

[2017-02-11 20:24] caioproiete commented on #70
This has been fixed (probably a while ago 😄). The NuGet package on NuGet.org now points to http://net-commons.github.io/common-logging/

[2017-02-11 20:24] #70 closed

[2017-02-13 14:22] gjkhw commented on #126
Thanks.  If you are able to resolve it, I would appreciate it.  I will circle back to it eventually if not, but my project has found some more pressing features that are keeping us on our workaround for now.

[2017-02-20 10:24] DannyVarod commented on #47
I noticed a while back that the values were indeed changed in a minor version and updating Common.Logging did break all existing code that wasn't specifically recompiled to use the new values.

[2017-03-13 17:12] JonPaz opened #144 "Using newer NLog versions?"
Hi,

I'm working on a system that uses NLog 4.4.3 (via a propriatory logging abstraction layer) and now pulls in other various (company common) components that use Common.Logging.  Would I be correct in thinking that the current Common.Logging.NLog won't support v4.4.3 and I'll need to create an NLog4.4?

Thanks in advance.

[2017-03-13 17:37] sbohlen commented on #144
There are technically _two_ answers to your question -- the NuGet-based answer and the .NET runtime answer  :)

re: NuGet, the latest version of the `Common.Logging` adapter for `NLog` looks to support `NLog` 4.2.  This means that its not possible to have NuGet "match up" the dependencies of both `Common.Logging.NLog` for 4.2 and `NLog` 4.4.3.

However, if you're willing/able to resolve the depend

[2017-03-14 00:32] sbohlen commented on #144
From a quick review, it looks to me as if NLog 4.4.4 is the latest (release) version in NuGet (https://www.nuget.org/packages/NLog/4.4.4)

Are you seeking support for 4.4.3 or 4.4.4 --?

[2017-03-14 09:08] JonPaz commented on #144
Thanks @sbohlen,

In the spirit of having a go, I'll have a go at a PR to add support for v4.4.3 into Common.Logging, hopefully over the next day or so.  Now to get VS2015 to re-install alongside VS2017 ;-)

[2017-03-16 08:25] Portikus opened #145 "Common.Logging.Core should also support .netstandard libraries"
Hello everybody,

in my team we are developing some libraries as .netstandard libraries. In this libraries we want to add Common.Logging.Core but the nuget package does not support .netstandard.
Is it possible that there will be a version that supports .netstandard?

Greetings

Florian

[2017-03-16 09:45] sbohlen commented on #145
Yes, the plans are _definitely_ for `Common.Logging.Core` to support `.NET Standard`.  Evaluating just exactly which version of `.NET Standard` (lowest version) we can get away with is Step 1.  I hope to have this done this coming weekend, after which we can better evaluate the release plans for when this is able to happen (e.g., likely we can fold this into the next 3.x release rather than having

[2017-03-16 11:00] JonPaz commented on #144
Hi @sbohlen,

Looking at the solution, can I clarify which .Net framework version any new additions should target, is it still v4.0 ?

Cheers,

Jon.

[2017-03-16 11:09] JonPaz commented on #144
Hi @sbohlen,

I'm following the build instructions on the main Github page and am having issues with there being multiple project.json in the solution.

Build output is:

NAnt 0.91 (Build 0.91.3881.0; alpha2; 17/08/2010)
Copyright (C) 2001-2010 Gerry Shaw
http://nant.sourceforge.net

Buildfile: file:///C:/Users/Fred/Source/Repos/common-logging/Common.Logging.build
Target framework: Microsoft .NET

[2017-03-16 11:11] sbohlen commented on #144
Since all later versions of .NET support consuming all earlier versions of .NET, the goal we've tried to pursue where possible has always been to support the _earliest_ version of .NET any given logger supports.

e.g., since anyone using .NET 4.6 can (safely) consume both a `Common.Logging` adapter and a logger built for .NET 4.0, there's generally no actual _benefit_ to coding for the later .NET

[2017-03-16 11:13] JonPaz commented on #144
Yep, sure does!

[2017-03-16 11:15] sbohlen commented on #144
Hmmm...I don't get that error when I build locally and neither does [the build server](https://ci.appveyor.com/project/sbohlen/common-logging/branch/master).  Can you do a fresh CLONE into a new local folder and try the build again to see whether you're able to repro the success(es) elsewhere?  This could help validate whether the issues are with e.g., your system (somehow) or with our repo (someh

[2017-03-17 08:57] donatasvyzasdb commented on #145
Is there an estimate on when release of a stable nuget with  .NET Standard support will be available?

[2017-03-17 10:44] sbohlen commented on #145
I can't really provide an estimate until I can determine our level of compat. with the various .NET Standard versions (work scheduled for this coming weekend).  Assuming nothing untoward crops up, I'd expect this could be folded into the next planned 3.x release.

This release is already in a beta and the only real blocker to getting it to a full GA at present is our having time to properly resolv

[2017-03-17 12:58] JonPaz commented on #144
@sbohlen ,

I've (finally) created the PR, please let me know your thoughts.

Also, do you have any idea as to when v3.4 will go RTM?

Cheers,

Jon.

[2017-03-17 13:36] sbohlen commented on #144
@JonPaz

Thanks so much for the PR -- assume you resolved whatever build issue was blocking you (?)

I will take a look @ the PR this coming weekend and advise any comments.  re: RTM timeline, see my reply here https://github.com/net-commons/common-logging/issues/145#issuecomment-287322738.

[2017-03-17 13:50] JonPaz commented on #144
Hi @sbohlen ,

I think that the buld problem might have been related to not having the correct .Net Core SDK installed.  It only told me when I opened the solution in Visual Studio ;-)

[2017-03-21 09:16] sbohlen commented on #144
@JonPaz

Thx for the suggestions; I'll look at making those parts more clear.  I've merged the PR so for now I will close this issue.  Feel free to reopen it if any problems arise.

And thanks again for the contribution; its much-appreciated!

[2017-03-21 09:16] #144 closed

[2017-03-21 11:28] JonPaz commented on #144
Thanks @sbohlen !

Glad to be of help and thanks for all of your efforts in keeping commons-logging going ;-)

Let me know if I can help in the future,

Jon.

[2017-03-25 16:51] sbohlen commented on #132
Closed for triage reasons due to lack of feedback/response.  If necessary, please feel free to (re)open this issue as appropriate should the issue persist.

[2017-03-25 16:51] #132 closed

[2017-04-19 11:28] pberggreen commented on #107
It would be nice to be able to control if Common.Logging is using the Mapped Diagnostics Context and the new Mapped Diagnostic Logical Context.

[2017-06-07 17:24] jwaimann opened #147 "Common.Logging.NLog not available for net core"
I'm currently using Common.Logging version 3.4.0-beta2 and NLog 5.0.0-beta07 on netcoreapp1.1.
I cannot find Common.Logging.NLog specific version for that case.

In case it is not yet available, which log file option do I have as adapter for net core?

Thanks in advance.

[2017-07-03 17:45] somewhatabstract commented on #144
@sbohlen Do you know when there will be a release with the new packages for Nlog newer than 4.0?

[2017-07-08 23:02] LHCGreg commented on #147
@jwaimann : What I did is create an NLog adapter compatible with netstandard. See https://github.com/LHCGreg/animerecs/tree/589ff87/Common.Logging.NLogNetStandard. I just had to take the files that Common.Logging.NLog444 uses, make two modifications, and reference NLog 5.0.0-beta09 and Common.Logging 3.4.0-Beta2.

The two modifications were:

* Remove NLogLoggerFactoryAdapter constructor that take

[2017-07-14 11:56] sbohlen commented on #144
This is on my this-weekend-todo list, so I'm planning to get this updated and out formally before 7/17.

[2017-07-15 15:30] sbohlen commented on #140
Closing this issue as WONTFIX.

[2017-07-15 15:30] #140 closed

[2017-07-15 20:18] sbohlen opened #148 "PROPOSAL: Introduce .NET Standard support in Common.Logging 4.0 and sunset Common.Logging 3.x after 3.4"
The project team would like to solicit comments/input from the community on the following proposal.
---
With all the churn in the .NET stack over the past few years, (e.g., PCLs, .NET Framework Profiles, WinRT, .NET Core, .NET Standard), its been challenging to keep projects like Common.Logging entirely aligned with what's needed for its adopters within all of the differing flavors of .NET.

Since

[2017-07-20 02:11] LHCGreg commented on #148
That all sounds reasonable to me, but would it be feasible to multitarget both netstandard and .NET Framework for those poor souls still on a version lower than 4.5? Would it require any extra work? I don't have any personal stake in it, just wondering.

[2017-07-25 21:22] braingame26 commented on #137
Will support for this target be added?

[2017-07-26 10:02] sbohlen commented on #137
Hmmm...this is peculiar.  From my research [here](https://portablelibraryprofiles.stephencleary.com/) my understanding was that Profile111 is a _subset_ of Profile259 (111 is effectively 259 _minus_ 259's support for WP Silverlight 8.0).  Can you confirm this --?

If this is the case, then I'd have expected any project targeting Profile111 to 'accept' binaries packaged as targeting Profile259, sin

[2017-07-26 10:07] sbohlen commented on #137
Also, in re-reading your comments, I want to confirm that you're using the latest pre-release (RC1) instead of the Beta-2 package (?)  Our expectation is that this _should work_ in the RC1 package, but it was definitely a packaging error we'd made in the Beta-2 package.  Can you confirm that you're using the RC1 package in your testings?

Thanks!

[2017-07-26 13:45] sbohlen commented on #148
I think I'd say that we can explore that and try to determine the LOE required to support that.  If it can be achieved with a reasonable effort, I'd say we should try to accommodate as best we can.

I think in general the objectives go like this:

1. Consolidate support for multiple versions of Visual Studio into _only_ Visual Studio 2017.
1. Remove support for versions of .NET not supported by _r

[2017-07-26 17:51] philipogorman commented on #137
@sbohlen confirmed the latest prerelease works! Thank you. When will it move to release, I want to take the beta off a lot of packages, thanks for your great work!

[2017-07-26 18:08] sbohlen commented on #137
Excellent news -- thanks for the quick response.  I'll close this issue as `RESOLVED` in `3.4-RC1`.

re: schedule for release, assuming no other negative feedback is received in the next few days, our plan is to move `3.4-RC1` to `3.4-GA` by the end of this month (JUL 31, 2017), so its literally just about any day now.

Thanks for your (continued) patience as we work to get our portable/packaging

[2017-07-26 18:08] #137 closed

[2017-07-26 18:10] sbohlen commented on #126
Others have reported that this behavior has been corrected in our `3.4-RC1` packaging.  Can you confirm/validate this?  Our plans are to move 3.4 to GA by the end of this month and it would be helpful to know whether the `3.4-RC1` release has addressed your issues as well before we go to GA with it.

[2017-07-26 18:12] gjkhw commented on #126
I'll check it out ASAP.  Will aim for Friday or Monday at the latest. Thanks!

[2017-07-26 18:14] sbohlen commented on #126
@gjkhw Thanks -- that would be perfect.

Cheers!

[2017-07-27 08:41] earloc commented on #148
Hi! Even though I am not using this lib atm, going in this direction definitely seems the way to go. I am for my self in the process of updating/restructuring some of my packages.
However, supporting legacy (full)-Frameworks with netstandard-tooling seems to be less painful as it ought to be with PCLs.
Just wanted to provide [one ](https://docs.microsoft.com/en-us/dotnet/core/tutorials/libraries)o

[2017-07-27 15:35] sbohlen commented on #148
@earloc Thanks for the input (and the links).  I'd not seen the second of those, but was aware of the process outlined there (agree w/ the author that its scattered all over the place and its helpful to have it all in one place).

As mentioned, we're not _surrendering_ on supporting older/legacy versions of .NET Framework where the effort is considered _somewhat_ minimal.  But we are shifting our

[2017-07-27 23:06] braingame26 opened #149 "sectionResult is not assignable to Common.Logging.Configuration.LogSetting for Common.Logging.Portable"
Hello,

I have a solution that contains both PCL and non-PCL projects. I've added the config sections below to my web.config.
[code]
When I try running my application I get the following error.

Parameter name: sectionResult

The output structure looks like this:
web.config
bin
&nbsp;&nbsp;&nbsp;&nbsp;PCL
&nbsp;&nbsp;&nbsp;&nbsp;Non-PCL
&nbsp;&nbsp;&nbsp;&nbsp;Common.Logging.dll
&nbsp;&nbsp;&nbsp;

[2017-07-28 01:35] sbohlen commented on #149
I'm not 100% certain that I'm properly understanding your use-case.  Can you elaborate on what you mean by

Do you mean that's the structure of the various projects in your solution?  Or other?  It may be that you're attempting something that's either not supported or at a minimum intended to work but somehow not properly tested by us, but I can't tell for certain (yet).  As I _think_ I understand

[2017-07-28 03:32] braingame26 commented on #149
Sorry, the title was misleading. The original title referenced a different issue that I worked around while I was in the middle of writing.

In my previous post where I show the output structure, I added some indentations to show what is under the bin folder, but the indentations didn't show up. I edited my previous post and now it looks good.

What happened was I tried having all my projects refe

[2017-07-28 10:12] sbohlen commented on #149
@braingame26

Thanks for the clarification -- after your indentations that makes more sense to me :)

We'll wait for your 'repro sample' project and then try to dig into this for you.  As mentioned, I _think_ what you're trying to do _should_ be supported, but its also certainly possible that you've uncovered a design flaw in our existing multi-targeting packaging strategy that we need to address

[2017-07-28 14:00] braingame26 commented on #149
[common.logging.tests.zip](https://github.com/net-commons/common-logging/files/1183238/common.logging.tests.zip)

Here's 2 sample solutions I made that demonstrates the problems I'm running into. Thanks!

[2017-07-28 21:53] sbohlen commented on #149
I've taken a look @ the sample projects (thanks for taking the time to create these, BTW, they are perfect for conveying your issue clearly).

From my review of the samples, I believe that you are hitting the issue that was addressed in issue #71 (which has since been `CLOSED` because we implemented the proposed change outlined there in `3.0-GA`).

If you wouldn't mind, could you review the conten

[2017-07-31 14:49] braingame26 commented on #149
Thanks for the rework. I'll get back to you this afternoon (it's currently 9:50 AM here).

[2017-07-31 20:41] braingame26 commented on #149
Thanks for taking the time to make the rework. So basically you have to pass the LogManager to the PCL, and the PCL just uses the ILogManager interface.

The product I'm developing is using a very large framework. The framework has specific ways I can add extensions to the framework, then it will dynamically load my extensions. So I'm not calling the constructors, so I can't pass in the LogManager

[2017-08-01 01:06] gjkhw commented on #126
I can install this fine into PCL 259 and 111 projects. Unsurprisingly, code from Common.Logging.Portable runs just fine on Android and iOS devices. Thanks for sorting this out!

[2017-08-01 13:42] sbohlen commented on #126
Excellent -- will CLOSE this issue and prep for the launch of `3.4-GA` shortly.

[2017-08-01 13:42] #126 closed

[2017-08-01 22:24] sbohlen commented on #149
@braingame26 great to hear that you have found _some_ mechanism that works for your use-case.

I'm honestly not sure that I completely understand how using your _own_ logger interface allows you to solve your issue any differently than taking a dependency on the `ILog` interface in `Common.Logging.Core` would.  But of course you know the specific details of your framework's strengths and weaknesse

[2017-08-01 22:24] #149 closed

[2017-08-01 22:25] sbohlen commented on #145
Closing this issue as superseded by #148.

[2017-08-01 22:25] #145 closed

[2017-08-01 22:26] sbohlen commented on #147
Closing this issue as superseded by #148.

[2017-08-01 22:26] #147 closed

[2017-08-01 22:29] sbohlen commented on #141
Confirming that NLog 4.1 only support full .NET Framework (see https://www.nuget.org/packages/NLog/4.1.0).  Closing this issue accordingly.

[2017-08-01 22:39] sbohlen commented on #139
Closed as superseded by #148.

[2017-08-01 22:39] #139 closed

[2017-08-01 22:42] sbohlen commented on #105
Closing this as fixed in `Common.Logging` `3.4-RC1`

[2017-08-01 22:42] #105 closed

[2017-08-01 22:50] isaac2004 commented on #139
Just checked that out, exactly what I was hoping the approach was going to be. As a developer I want to work on fresh bits, and something like this provides additional ammo to sell to stakeholders. Thanks again! On a side note, took a long time to get a roadmap :)

[2017-08-01 22:53] sbohlen commented on #139
@isaac2004 yes, and trust me nobody is less happy about the pace than myself.  Things will pick up shortly once `3.4-GA` is released (as soon as I can package the bits) and we can move on to focus on `4.0`

[2017-08-08 05:51] MKuckert commented on #141
I'm not sure what you're referring to but according to http://nlog-project.org/ NLog supports the following platforms:
- .NET Framework 3.5, 4, 4.5 & 4.6
- Xamarin Android
- Xamarin iOs
- Windows Phone 8
- Silverlight 4 and 5
- Mono 4
- ASP.NET 4 (NLog.Web package)
- ASP.NET Core (NLog.Web.AspNetCore package)
- .NET Core (NLog.Extensions.Logging package)

I've successfully used Common Logging in c

[2017-08-08 12:52] sbohlen commented on #141
[Re-opening this issue]

Actually, yes.  If you're willing it would be helpful if you could assist in confirming/validating several of our conclusions.

1. For clarity, our conclusion as to `NLog` support for other TFMs than the full .NET Framework is specifically about `NLog` **4.1**.  We'd focused on that version of `NLog` b/c the original post referenced a repro that involved that specific vers

[2017-08-08 13:02] jochenjonc opened #150 "Log4Net 2.0.7"
Is there a reason why Log4Net 2.0.6 and 2.0.7 are skipped and thus not available?

[2017-08-08 13:15] sbohlen commented on #150
No reason other than oversight, I think :)  Thanks for catching that.  My guess is that 2.0.6 and 2.0.7 are binary-compat with 2.0.8 so this is (probably) just a packaging and (re)compilation effort on our part to support it.

I can slate this into the calendar for work towards the end of this week and release a set of 3.4.1 packages that include support for these additional versions in the next s

[2017-08-09 06:48] MKuckert commented on #141
You are totally right: `NLog` 4.1 does not support Xamarin.iOS but 4.4.11 does. I tried to install the according NuGet Packages into an iOS project.

Installing NLog 4.1 returns the error: `Could not install package 'NLog 4.1.0'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly references or content files t

[2017-08-09 10:07] sbohlen commented on #141
Thanks for the input and the error report.

I'll take a look @ the `Common.Logging.NLog4411` package and see what went wrong.  Clearly there's a packaging problem on our end; if NLog 4411 supports those broader list of targets then we should be providing a matching binary in `Common.Logging.NLog4411` for each as well.  I'll dig into it shortly and advise.

When (we think) we've got it fixed, we'll

[2017-08-09 10:09] MKuckert commented on #141
Sure. Just let me know and I'll test your NuGet Beta packages.

[2017-08-10 21:35] sbohlen commented on #141
@MKuckert I'm trying to determine specifically what PCL profile(s) are needed for Xamarin support.  From [this section](https://developer.xamarin.com/guides/cross-platform/application_fundamentals/pcl/introduction_to_portable_class_libraries/#What_is_a_Portable_Class_Library) in the Xamarin docs comes the following excerpt (emphasis mine):

If that's correct, then it would seem on its surface that

[2017-08-12 14:14] sbohlen commented on #150
Fixed in https://github.com/net-commons/common-logging/commit/ab61d2c7a2559df03c968b5061c07e9c56841b22 and pushed to NuGet as `3.4-GA` packages for Log4Net [2.0.6](https://www.nuget.org/packages/Common.Logging.Log4Net206/) and Log4Net [2.0.7](https://www.nuget.org/packages/Common.Logging.Log4Net207/)).

[2017-08-12 14:14] #150 closed

[2017-08-12 20:03] MKuckert commented on #141
I just tested the referencing as suggested and you're right: I can successfully reference and leverage the Common.Logging `net40`-dlls from within my iOS project. The NLog adapter can be used with this setup 👍 But I have to target NLogs `Xamarin.iOS` to work – the `net40` dll throws any `type not found` exception otherwise. But that's no problem in the case of installing via NuGet.

So yes, you sh

[2017-08-14 10:26] sbohlen commented on #141
Thanks for the validation.  We've pushed `3.4.1-RC1` packages to NuGet.

As a _final_ test/verification before we release this change formally, would you be willing to attempt to add [this pre-release version of the `Common.Logging.NLog4411` package](https://www.nuget.org/packages/Common.Logging.NLog4411/3.4.1-RC1) to your Xamarin project and report results?

Assuming you report OK, we'll move to

[2017-08-15 06:06] MKuckert commented on #141
Looks very good! I can successfully install the NuGet package `3.4.1-RC1` in an iOS project. The NLog dependencies are successfully resolved and installed. 👍

[2017-08-15 10:23] sbohlen commented on #141
Excellent; we'll release this to NuGet (along with parallel support for NLog 4.4.12) later today.

Thanks again~!

[2017-08-16 11:04] sbohlen commented on #141
Resolved in https://github.com/net-commons/common-logging/tree/3.4.1.GA

[2017-08-16 11:04] #141 closed

[2017-08-18 19:00] Workshop2 opened #151 "ConsoleOutLogger missing in 3.4.0 for .NET Standard"
Is this intentional or a bug?

Many thanks,
Simon

[2017-08-21 11:03] sbohlen commented on #151
@Workshop2

I think its technically both a bug _and_ a feature (for the time being, at least) :P

Here's my (somewhat ugly) analysis of what I think is going on here....

1. We don't presently support .NET Standard in 3.4.x.  Now that 3.4.1 has been released to GA, work is currently underway to introduce formal support for (various) .NET Standard targets in 4.0 (as outlined in https://github.com/n

[2017-08-22 19:57] Workshop2 commented on #151
Thanks for the information. I was confused to see it working in dot net core only to see an issue relating to it not yet being compatible.

I look forward to seeing what happens next.

[2017-08-22 19:57] #151 closed

[2017-09-20 07:00] DaveLaa opened #152 "Dependency strictness of Common.Logging.Log4Net1213"
In previous versions or Common.Logging.Log4Net1213 (V3.3.1) there was a Log4Net dependency "Log4Net >= 1.2.13". I saw the issue where you set this dependency to strict "Log4Net = 2.0.3". Is this important? I see no reason why we shouldn`t use the latest version of Log4Net like V2.0.8 for example. In the old version of Common.Logging.Log4Net1213 this worked perfectly and without any issues... Why d

[2017-09-20 07:42] Gonnagle commented on #152
This is probably duplicate of https://github.com/net-commons/common-logging/issues/140

We run into this exact same issue. I would have loved to see this changed to something like `Log4Net >= 2.0.3 < 3.0`, but unfortunately it seems there is [no guarantee that `Log4Net` follows SemVer](http://www.wiktorzychla.com/2012/03/pathetic-breaking-change-between.html) 😢

[2017-09-20 08:45] DaveLaa commented on #152
I`m using Common.Logging only as a bridge between Spring.Net and Log4Net and only for the Spring internal loggings. I Use Log4Net directly in the rest of my project, so i will prefere to upgrade Log4Net and freeze updates of Common.Logging in V3.3.1 where this issue was obviously not existing yet...

As long as there is no problem with compatigility in Log4Net, why creating problems in ALL project

[2017-09-20 09:13] DaveLaa commented on #152
I just saw that there are now libraries for specific versions of Log4Net... I will install Common.Logging.Log4Net208 now.

[2017-09-20 09:13] #152 closed

[2017-09-27 11:00] jordyvaneijk commented on #118
No one that can comment on this specific question. It seems i also have this problem using a self created LoggingFactoryAdapter

[2017-10-05 20:59] spankr opened #153 "Is there an example of using Common Logging with .Net Core 2.0?"
I spent a bit of time digging around, trying to find an example of a NETCore 2.0 app that used Common Logging 3.4.1 (with NLog) and couldn't find one.
In the end, I figured it out on my own through trial & error.
(I'm eagerly waiting for Common Logging 4.x!)

Is there an official example available (that I couldn't find)?

If not, here is what I had to do:

[code]

The issue I had was that in netco

[2017-10-10 20:10] gcampbell-epiq commented on #4
Bump. Not supporting this means not supporting correlating log entries across async/awaited call stacks. A correlation ID, set via CallContext.LogicalSetData or NLog's MDLC is a common way of supporting this. GlobalContext and ThreadContext do not support this use case.

[2017-10-16 18:06] gabriele-ricci-kyklos opened #156 "Checking for a logger existance"
Hi,
I use `Common.Logging` in a few projects with `log4net` and I was wondering how can I understand if a logger has been declared.
In the class `LogManager` of `log4net` there is the method `Exists`, but I found none in the `LogManager` class of `Common.Logging`.
This would be useful because I have configured a root logger, and I wish to write logs in a specific logger only if it is configured, a

[2017-10-25 01:56] gjkhw opened #157 "Can't install Common.Logging.Portable into Xamarin iOS or Android PCL projects"
I had hoped that I would be able to target netstandard in my application, bypassing this issue, but Xamarin.Forms and Visual Studio for Mac are still not ready for netstandard.

I am not able to install Common.Logging.Portable into Xamarin iOS or Android native projects.

I suspect that the full name of the PCL profile for Common.Logging.Portable is incorrect, and that maybe confusing nuget about

[2017-10-25 02:51] gjkhw commented on #157
As an experiment, I repackaged the contents of the Common.Logging.Portable 3.4.1 nuget into a different nuget, but used the documented name for Profile 328. It installed just fine into my Android and iOS native application projects, and runs just fine as well.

I think it's just a 3-line change in Common.Logging.Portable.nuspec to use the right full profile name instead of the one that's there. I

[2017-10-26 15:21] Portikus opened #158 "Building Errors with UWP, Common.Logging.Core and PDB files."
Hi,

## Reposteps:

1. In Visual Studio create a blank App (universial Windows)
2. Select Fall Creators Update as Minimal Version.
3. Add the Common.Logging nuget package to the App.
4. Run MSBuild (newest version) with the created solution as parameter.

## Result:

You will get the following warnings and errors:

warning : Failed to convert FastLink symbols to full PDBs for '...\common.logging.c

[2017-11-13 07:57] Troncek commented on #153
Here's another example using appsettings.json instead of setting it up programmatically .

`{
  "LogConfiguration": {
    "factoryAdapter": {
      "type": "Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412",
      "arguments": {
        "configType": "FILE",
        "configFile": "~/nlog.config"
      }
    }
  }
}`

`using Common.Logging;
using Common.Logging.Configuration;
u

[2017-11-13 08:12] Troncek opened #159 "NLog 4.5 support (.NET Standard 2 and structured logging)"
Any time-frame for NLog 4.5 wrapper in Common.Logging?

I can use the existing 4.4.12 and change it up a bit, and it works, but an official support would be nice.

[2017-11-15 03:32] davidshen84 opened #160 "Support NLog configuration API"
Currently, the `NLoggerFactoryAdapter` only accept a name value collection as its constructor parameter. According to [the doc][1], the **INLINE** and **FILE** types are both xml form of configuration, but in different place.

Using code to define the logger settings are more reliable.

[1]: http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-abstract

[2017-11-29 19:12] hurcane commented on #118
What else is in your config file? I had a similar error even using the built-in console adapter. My problem was that I had an existing `<startup>` element in my config file before I added the `<configSections>` element. Once I moved the `<startup>` element below the `<configSections>` element.

My working config file ended up looking like this:

[code]

[2017-12-01 03:01] icnocop opened #162 "[EntLib60] InvalidOperationException: The LogWriter is already set."
Hi.

Thank you for Common.Logging.

If the log writer is already set externally, and an HTTP POST is sent to "/jsnlog.logger" for example, the following error occurs:
[code]

[2017-12-11 16:59] brianmarco opened #163 "Missing ConsoleOutLoggerFactoryAdapter?"
Hello,

I'm trying to setup a basic logger, pretty much identical to what is covered in this example:

https://github.com/net-commons/common-logging/blob/master/examples/BasicLogging/Program.cs

However, my code won't compile as my compiler can't find a reference to `ConsoleOutLoggerFactoryAdapter`. I've installed the added the Commons.Logging and Commons.Logging.Core packages as dependencies so I

[2017-12-21 06:45] mrcopperbeard opened #164 "Unnecessary dependency in Common.Logging.Core.nuspec"
Hi,
I've kinda problem with using Common.Logging.Core under .Net Framework 4.6.2. This package has
a dependency on Microsoft.CSharp package for .NetStandard1.0, package manager installs that for .NetStandard and all compatible frameworks. However, it looks unnecessary under .Net Framework 4.6.2 beyond that I have some problems with supporting that dependency using CI.

I've made some tests with [C

[2018-01-04 03:56] passuied opened #165 "Common.Logging.NLog4xx through a warning when used in .NET standard 2.0 project"
When adding a reference to Common.Logging.NLog4xx NuGet inside a .NET standard project, you get the following warning:

[code]

Any ways to avoid this?

[2018-01-10 23:56] tinobody opened #166 "The MultiLogger class logs messages with the incorrect level"
I am using the MultiLogger class to allow my applications to log to multiple sources.  However, when a call to the ErrorFormat method is made (and any overloads of it), messages are logged to the underlying loggers using the Debug level instead of the Error level.  I looked at the source code for this class and it appears that the ErrorFormat method makes calls to the DebugFormat method on the und

[2018-01-12 12:41] alighanem commented on #163
Same problem. I think the console adapter has not been integrated to this version. It was in the version 3.3.1.

[2018-01-16 00:00] NicolasPerego opened #167 "Common.Logging.Log4Net208 & .NET Core 2.0 problem ?"
I can't find a way to make theses package works in a .NET Core 2.0 web project.

appsettings.json :
[code]

Startup.cs :
[code]

Each time I have an exception at the last line, because the Common.Logging.Log4Net129.Logging.Log4Net.Log4NetLoggerFactoryAdapter.cs seems to call methods that doesn't exists anymore in log4net :
- log4net.Config.XmlConfigurator.Configure(new FileInfo(configFile));
- log

[2018-01-24 09:40] marcselis commented on #148
Will the new .NET Standard version be compatible with previous versions?
I mean, will code that uses common.logging for logging still compile after upgrading the nuget package to the new 4.0 version?
Most importantly this code:
`private static readonly ILog _log = LogManager.GetLogger<MyClass>();`

[2018-01-24 20:50] NicolasPerego commented on #167
The problem seems to be with log4net, which did not adapt to NETSTANDARD 2.0, I don't know wich side will be easier to fix ?

[2018-02-08 12:21] oliveiramarcio opened #168 "Unable to resolve dependencies. 'Log4Net 2.0.8' is not compatible with 'Common.Logging.Log4Net1211 3.4.1 constraint: Log4Net (= 2.0.0)'."
Hi!

I'm receivint this error when I try to update Common Logging to 3.4.1 on Nugget on my Visual Studio 2017:

* "Unable to resolve dependencies. 'Log4Net 2.0.8' is not compatible with 'Common.Logging.Log4Net1211 3.4.1 constraint: Log4Net (= 2.0.0)'.

I update Log4Net to 2.0.8 and now I can't update Common Loggin because version 3.4.1 only accepts Log4Net 2.0.0...

Would not be **Log4Net (>= 2.0.

[2018-02-22 07:10] lilggamegenuis opened #169 "Unable to get NLog working properly (and lack of Documentation or Guides)"
I'm having a little trouble getting started using Common.Logging. Currently my app.config looks like [this](https://hastebin.com/gapoxeduxu.xml). I get no output from NLog even though the NLog worked with its configuration before I started using Common.Logging. Looking around I haven't been able to find any recent documentation or help of any kind for getting setup that isn't outdated or deprecate

[2018-03-07 08:51] gWessel commented on #163
The TraceLoggerFactoryAdapter is also missing in 3.4.1

[2018-03-31 14:18] jovanpop-msft commented on #148
Does it means that Microsoft.Extensions.Logging in .net core will be eventually deprecated and replaced with new Common.Logging 4 from .net standard, or they are going to co-exists? I have some libraries working with Common.Logging and want to use them in .net core. Should I rewrite everything to match Microsoft.Extensions.Logging or wait for Common.Logging 4?

[2018-05-04 11:00] elduddz opened #170 "LicenseUrl is missing from nuget nuspec"
We are using a package management tool that allows us to filter on license.

Although this has the license.txt file in the project this isnt referenced in the nuspec:
https://github.com/net-commons/common-logging/blob/master/src/Common.Logging/Common.Logging.nuspec

[2018-05-10 07:55] jjanuszkiewicz commented on #168
Looks like the same problem I reported a while ago: https://github.com/net-commons/common-logging/issues/140. Unfortunately @sbohlen said it's a WONTFIX due to historical problems with non-semver changes in logger libraries :-(

@sbohlen is it an option for you to reconsider the versioning and dependency approach? I understand your arguments and don't want to fight them - they are all valid (altho

[2018-05-10 08:01] jjanuszkiewicz commented on #168
Also, to give you more context on why it's problematic to use this package in my company: we have a rather large codebase (hundreds of projects and nuget packages) which various projects getting updated at a different pace, so we typically use slightly different versions of log4net across the codebase.

Now, if one project references others (directly or by nuget packages) which use different (but

[2018-05-31 11:27] mstaessen opened #171 "IConfigurationSectionHandler is deprecated since .NET 2.0"
IConfigurationSectionHandler is deprecated since .NET 2.0, The ConfigSectionHandler should derive from ConfigurationSection.
https://msdn.microsoft.com/en-us/library/system.configuration.iconfigurationsectionhandler(v=vs.110).aspx

When using the handler as-is without section-group, logging is not wired.
When using the handler in a section group in combination with a virtual directory on IIS Expre

[2018-06-04 23:03] davevans commented on #165
I have the same issue. Is there a reason the Common.Logging.NLog4XX adapters do not support netstandard?

[2018-06-07 19:36] kushalbhola opened #172 "Issue with Common.Logging.Core 3.0.0 and quartz 2.3.3"
Do you know whats going on with this error, which version of these 2 dll's are compatible ?

![quartz](https://user-images.githubusercontent.com/7498338/41122109-7c276d50-6a68-11e8-93d3-c033e6bc5771.JPG)

[2018-06-25 06:00] mahdiit commented on #172
i have same problem ,  in .net 4.6.2
so it just because of mscorlib in core that referenced with version 2.0
need to update "mscorlib" for .net 4.0

[2018-06-25 06:15] mahdiit commented on #172
so when i update my couchbase .net client, it depend on common-log so, it is updated and i now have same problem that can resolve it yes.

so i first restore my project to previous version, please fix it soon

[2018-07-02 11:50] dim5 opened #173 "Update changelog.txt"
It hasn't been updated since release 3.1.0, March 26, 2015.

[2018-07-24 12:35] mnivet commented on #148
I'm a bit in the same case than @jovanpop-msft
We have multiple libraries that are based on Common.Logging, and have start to build new applications based on AspNetCore.
For that, we have already re-built multiple librairies against netstandard2.0, including a dependency to Common.Logging 3.4 which is compatible with the netstandard 1.3

But now what should we do in our AspNetCore applications ? U

[2018-07-30 17:36] maboivin opened #174 "Common.Logging.Core should reference mscorlib 4.0.0.0 instead of 2.0.5.0 in lib/net40."
The NuGet package for Common.Logging.Core (at least v3.4.1) contains a net40 library that references mscorlib 2.0.5.0. It should reference mscorlib 4.0.0.0 like other components such as Common.Logging and Common.Logging.NLog*.

This is causing issues when used with Roslyn and also when used with StackExchange.Precompilation.Build.

[2018-07-31 14:12] mnivet commented on #148
Creating an adapter between Common.Logging and Microsoft.Extensions.Logging was not a so good idea.
In some cases it doesn't work well. In particular when using nlog layouts like ${callsite} because it will render the name of the method in the adpater, and it's not fixable because we go trough 2 levels of adapters before accessing nlog.

So we choose to roll-back from that idea and compile interna

[2018-08-02 14:31] tonycoelho commented on #148
@sbohlen Can we get an update on this? Is there any movement on v4.0 with .NET Standard and .NET Core support or has this project been abandoned? I don't see any significant progress over the past year. We are trying to determine if we should continue with Common.Logging for .NET Core projects and create our own adapters or migrate to Microsoft.Extensions.Logging since NLog and other logging frame

[2018-08-15 12:50] #66 closed

[2018-09-04 19:52] spankr commented on #163
I believe its not available for the .NET Core apps as I don't see it. There is an adapter for the Debug window (Visual Studio output tab) but the Console isn't there.

[2018-09-21 00:19] granadacoder commented on #104
What happened to the ConsoleOutLoggerFactoryAdapter ?  I tried to use DebugLoggerFactoryAdapter / DebugOutLogger and hit this issue.

Using:
nuget\packages\common.logging\3.4.1\lib\netstandard1.3\Common.Logging.dll

{
  "LogConfiguration": {
    "factoryAdapter": {
      "type": "Common.Logging.Simple.DebugLoggerFactoryAdapter, Common.Logging",
      "arguments": {
        "level": "ALL",

[2018-09-25 14:00] odalet opened #175 "What Common.Logging.NLog package to use?"
Hi, I'm wondering if there are differences (apart from the minimum required NLog version) between all the Common.Logging.NLog* packages?

As of now, I can list (for NLog v4+ and only official Common.Logging 3.4.1 packages):

* Common.Logging.NLog40
* Common.Logging.NLog41
* Common.Logging.NLog4411
* Common.Logging.NLog4412
* Common.Logging.NLog444

What's the recommended package if I'm using, say,

[2018-10-06 00:40] Defee commented on #144
@sbohlen Is there any news about the Common.Logging and NLog 4.5.x? Have you got plans to support it?

[2018-10-06 20:52] Defee commented on #148
@sbohlen Could I help somehow with the move to version 4?

[2018-10-25 07:09] Defee commented on #148
@tonycoelho, @mnivet, is it a good idea to help with the project? Might be do some fork and work on this support (at least for Common.Logging -> NLog)? I personally love common logging and it is really good working with slightly different approach than Microsoft Logging extensions.

I personally will be able to look at the sources sometime next week.

[2018-10-25 07:53] sbohlen commented on #148
All pull requests are always welcome!

For what its worth, current plans call for me to be able to return to focus more on this effort beginning at the start of November (after a number of current other distractions are resolved elsewhere in my life).  My goal would be to have this (and other unaddressed issues) resolved by the end of calendar 2018 latest.

That said, if anyone wants to fork the r

[2018-10-26 06:50] Defee commented on #148
@sbohlen I will look what I can do in terms of the porting to .net standard over this weekend.
Do you have some particular requirements for the porting or 4.x will be supported from the latest .netstandard 2.0 on current date?

@tonycoelho, @mnivet do you also have some preferences in version terms in the terms of porting?

[2018-10-26 09:21] mnivet commented on #148
I've just open to public the common.logging.nlognetstandard adapter that have been write internally in our company. You can found it here:
https://github.com/TalentSoft/common.logging.nlognetstandard

@sbohlen how do you prefer to integrate that ?
- Continue to have a lot of projects in the same big repository ? In that case I let you copy paste the code in your repo.
- Or keeping it in a dedicate

[2018-10-28 21:28] Defee commented on #148
@sbohlen

1.  Can we purge the support for Silverlight for the 4.x + version? As it seems that Microsoft are not willing to support it long term...
1.   Do we allowed for version 4.x to start support from 4.5 not from 4.0?
1.   Can I offer some reorganization for 4.x? I've listed the points below.

As new style of csproj, can utilize different build frameworks and generate the output correctly. I

[2018-11-10 10:09] Defee commented on #148
Hi all. I've done something in my fork.
@sbohlen  could we have discussion about what is done (might be a skype call for the 15 minutes?) as there are some breaking changes which could include the breaking of old build pipeline.
Here are the link to the current breaking changes: https://github.com/Defee/common-logging/blob/version_4x/breaking-changes.md .

@mnivet did your version include the inte

[2018-11-12 10:35] mnivet commented on #148
@Defee no, That idea was abandoned as Iv'e explain a bit earlier in this thread
It doesn't work so well, and currently we just send CommonLogging traces to NLog and Microsoft.Extensions.Logging traces to NLog
NLog is a concrete log implementation that can correctly aggregate traces from that two abstractions (CommonLogging and Microsoft.Extensions.Logging) and provide an easy way to configure wher

[2018-11-13 13:51] gaviriar commented on #159
Hi There, I would also be interested in support for NLog 4.5, is this planned at all?

@Troncek could you please share the code changes you have made?

[2018-11-13 14:02] gaviriar commented on #175
Hi @odalet, I would like to share my vague understanding on this topic as I was just wondering the same thing :)

So it turns out that if you are planning on using NLog 4.5 on your application as your logging framework of choice, you then must install the Common.Logging.NLog45 adapter which must be avaialable on NuGet. For information on why this is like this see [here](https://github.com/net-comm

[2018-11-13 15:54] michaelosthege commented on #175
The idea is to pair `NLog 4.a.b` with `Commons.Logging.NLog4ab`.

**The currently highest available is `Commons.Logging.NLog4411` which should be paired with `NLog 4.4.11`.**

If you plan to use `NLog > 4.4.11` however, you will not be able to hook it up with `Commons.Logging`.

[2018-11-13 18:20] snakefoot commented on #175
When reading the documentation, then it says one should just use [Common.Logging.NLog41](https://www.nuget.org/packages/Common.Logging.NLog41/) :

https://github.com/net-commons/common-logging#nlog-quickstart

All versions beyond this version are just means to force push the NLog-version forward. But not required for using with NLog 4.4 or 4.5.

But it is difficult to make use of structured loggin

[2018-11-14 08:21] odalet commented on #175
OK, thanks for all your replies. In an ideal world, and assuming NLog respects semantic versioning (I hope it does), Common.Logging.NLog4 should be sufficient for all NLog 4.* versions; app.config's binding redirects would take care of selecting the correct NLog version...

I understand versions of Common Logging > 41 force a higher minimal version of NLog, but I don't really see the point: this p

[2018-11-14 08:21] #175 closed, assigned to nobody

[2018-11-14 08:26] snakefoot commented on #175
There is only NLog version 4.0.0.0. So no need for any binding redirects. See link in previous comment about NLog using SemVer.

[2018-11-14 08:52] odalet commented on #175
@snakefoot : I think you forgot the link, but I get it, NLog's assembly is always 4.0.0.0, the Nuget package version changes over time...

[2018-11-15 00:11] Defee commented on #148
@mnivet I found something. Basically it is how NLog did their extension for the microsoft logging. I think for Common it should be the same way of doing it. It is not much work, but I need to find time to do that. Possibly early next month.

[2018-11-15 09:39] mnivet commented on #148
@Defee interesting idea. I've trying to adapt microsoft logging to common logging with mixed results.
But I've not try adapting common logging to microsoft logging.
Is that a better idea ? I'm not sure that it will provide better results on nlog layout renderers like ${callsite} that are based on the callstack...

My tries make me think that common logging and Microsoft logging are both interfaces

[2018-11-22 23:43] stevozilik commented on #159
I'm also interested in 4.5 support

[2018-12-12 18:49] pedromfonsecapt commented on #167
Is there any feedback regarding this? I'm still facing this issue and would like to have a possible solution.

**EDIT:** I was checking and I've noticed an ``EXTERNAL`` configType option in ``appsettings.json``. Maybe that's what I need since I've configured ``log4net`` already in my app. Will give it a try tomorrow.

[2019-01-18 13:05] Seikilos commented on #159
@Troncek Could you create a pull request for your work? Even if it is a hack, this would allow the devs to review it. Looks like 4.5 is not going to be supported anytime soon here.

[2019-01-21 20:49] snakefoot commented on #159
Created a pull-request: #176

[2019-01-21 21:04] snakefoot commented on #107
Created #176 that adds support for MDLC + NDLC with NLog 4.5 (Includes custom build of nuget-package as attachment)

[2019-01-23 21:32] snakefoot commented on #165
Created PR #176 for resolving this. (Includes custom build of nuget-package as attachment)

[2019-01-23 21:35] snakefoot commented on #159
Created a pull-request: #176 (Includes custom build of nuget-package as attachment)

[2019-01-24 16:20] snakefoot commented on #147
Created PR #176 for resolving this. (Includes custom build of nuget-package as attachment)

[2019-01-24 16:22] snakefoot commented on #148
Created PR #176 for resolving this for NLog. (Includes custom build of nuget-package as attachment)

[2019-04-29 10:54] artem-voropaev opened #177 "How to use Common.Logging.Log4Net with .Net Core?"
Hi! Please tell how to use Common.Logging.Log4Net with .Net Core? It seems that there is no assemblies in Common.Logging.Log4Net208 for netstandart.

[2019-05-14 15:31] artem-voropaev opened #178 "Is project alive?"
There is no commits since may 2018. Is project still alive?

[2019-06-17 02:36] Defee commented on #148
Hi all!
I plan to have the [forked version]( https://github.com/Defee/common-logging) published on nuget with some kind of prefix somewhere over the next weekend. I will tear it down (de-list it) when the official decision (or announcement for upgrade) will be made from @sbohlen.

@snakefoot, could we have might be a Skype call/or other call just to see our diffs for NLog implementation ( I think

[2019-06-17 02:41] Defee commented on #178
@artem-voropaev  I think yes. Just sometimes Changes take time:
#148

[2019-06-17 05:22] snakefoot commented on #148
@Defee I have pretty much just taken the Serilog Implementation and renamed it to NLog. You can see my actual changes in PR #176 and compare to your own.

[2019-06-17 06:41] Defee commented on #148
Sure will do over the week.

P.S. Tested now it seems it builds as of now and tests pass.
P.P.S. I was actually thinking to add ILogEvent interface addition to abstractions as for some things it is really useful (ex: app insights.)

[2019-06-24 04:30] Defee commented on #148
@snakefoot
I saw that the stakeframe test is failing for the implementation when I merged your code.
I think I faced it before and added a workaround for it from my side:
[code]

What side-effects can it bring?
[my fork](https://github.com/Defee/common-logging/tree/version_4x)

[2019-06-24 20:17] snakefoot commented on #148
Thank you for reporting this. Guess that is the price of copy-paste-code. Guess it is time to divert from the Serilog-default-implementation.

Well `WriteInternal` in my PR is never called (That is why it is empty). Because Common.Logging enforces use of string.Format but Serilog (And NLog) wants to use their own parsing of the format-string (To support [message templates](https://messagetemplates

[2019-06-25 01:41] Defee commented on #148
Thanks @snakefoot! Will merge it again.

I will also give a heads-up after I finish out this.

[2019-06-28 02:53] Defee commented on #148
@sbohlen @snakefoot
Some heads-up:

I uploaded some packages manually to nuget as pre-release with my prefix("defee.").:

- Common.Logging.Core
- Common.Logging
- Common.Logging.NLog45

I checked following things and what have I done back in November 2018:

- [x] Migrating Common assemblies to the netframework2.0 (Common.Logging, Common.Loggin.Core)
- [x] Updating the CommonLoggingIntegration with

[2019-07-19 19:22] spankr commented on #153
Team was asking this question and a google search came back with this page. I like the response provided by @Troncek

[2019-07-19 19:22] #153 closed

[2019-07-20 19:30] robsosno opened #179 "Failed obtaining configuration for Common.Logging in dotnet versions"
Steps to reproduce:
Simple console application, Set properly LogConfiguration configuration from file or from strings.
Then:
LogManager.Configure(configuration);
log = LogManager.GetLogger<Program>(); <-- crashes

Stack trace:
Common.Logging.ConfigurationException
  HResult=0x80131500
  Message=Failed obtaining configuration for Common.Logging from configuration section 'common/logging'.
  Source=

[2019-07-20 19:57] robsosno commented on #148
I vote for original proposition: version 4.0 only for Dotnet Core.
In theory NetStandard should be soon supported anywhere so it seems perfect solution.
Beware of these issues: https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET
In particular important issue is with configuration. Current dotnet implementation of Common.Logging doesn't support old configuratio

[2019-08-27 21:27] hsorbo commented on #174
I think this is  the reason it wont compile under CPS/net4* of .net core 3.0: https://github.com/dotnet/wpf/issues/1451

[2019-08-30 22:38] 304NotModified commented on #178
Would be nice if some pull requests would be accepted and released.

[2019-09-11 06:43] robertppn opened #181 "log4net threadcontext-vs-logicalthreadcontext"
Is there a way to use the log4net logicalthreadcontext instead of the threadcontext using common-logging? It seems only threadcontext is used by the Ilog.ThreadVariablesContext implementation for log4net.

[2019-11-14 02:19] sopcce commented on #177
I also want to know

and use serilog

[2019-12-19 14:26] gigi81 commented on #174
This issue is making my WPF build fail for the bug mentioned above. This is the ONLY dll I cannot update to use mscorlib 4 insteaf of 2.0.5.0.

[code]

[code]

[2019-12-19 14:37] ds1709 commented on #174
From dotnet/wpf#1451. Assumes I have same problem with Microsoft.Bcl.Async. Assemblies in this package depends from mscorlib 2.0.5.0. And I'm trying to use async/await in net40 project. It was all fine before I updated my project to SDK format (Microsoft.NET.Sdk.WindowsDesktop).

[2019-12-19 15:12] gigi81 commented on #11
@sbohlen I understand what you were saying 5 years ago, but what if there is a problem with the nuget package and you guys don't fix it?
There hasn't been a release of this library for over 2 and a half years now.
I honestly don't see the security risk in publishing the key. Even the log4net guys decided to publish it in the end for the same reason, see https://github.com/apache/logging-log4net/bl

[2019-12-19 20:10] snakefoot commented on #174
Can always use this custom nuget-package from this PR: #176

[2019-12-20 08:28] gigi81 commented on #174
@snakefoot that package in #176 is not signed and also it is the nlog one not the core one.

[2019-12-20 09:17] snakefoot commented on #174
That is the problem with OpenSource projects. They only work as long someone thinks it is fun. You can always fork and compile with your own strong-sign-key.

[2019-12-20 10:02] gigi81 commented on #174
@snakefoot there would be no problems if the snk key was published #11
signing with your own key is pointless unless you re-build all dlls that link to this library. only here on github we are talking about 7.2k projects...

[2019-12-20 10:12] gigi81 opened #183 "Publish keyfile"
As requested in #11, can you please publish the snk key?
The project does not seem to be maintained anymore and the issues and PR are not merged, so I guess the only solution is to fork this project and fix it yourself. The problem is that without the key you cannot create a usable package as other open source projects are built against the signed assembly, they will not link to one signed with a

[2019-12-20 10:29] snakefoot commented on #174
Can understand your frustration. But unless you have a time machine so you can fix the past. Then I think you have to say "thank you for the fish" and move on.

[2019-12-20 10:40] gigi81 commented on #174
@snakefoot I quite don't follow. are you a maintainer here?
of course we are grateful for the work. nobody is asking to fix the past. I just need the key to fix it myself.

[2019-12-20 10:59] snakefoot commented on #174
Nope not a maintainer or janitor. Just aware that this project has very few updates and people are moving on.

[2019-12-29 14:15] snakefoot commented on #174
Btw. when using NetCore then strong-naming is no longer that important, and GAC is no longer available. So you could consider making a pure NetStandard-build without strong-name-key.

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming

[2019-12-29 14:52] snakefoot commented on #174
Have attached custom build nuget-packages without strong-name-key, that can be used for NetCore3 projects:

[Common.Logging.Core.3.4.2.nupkg.zip](https://github.com/net-commons/common-logging/files/4008178/Common.Logging.Core.3.4.2.nupkg.zip)
[Common.Logging.3.4.2.nupkg.zip](https://github.com/net-commons/common-logging/files/4008181/Common.Logging.3.4.2.nupkg.zip)

Remove `.zip` extension and upl

[2020-01-05 01:50] avonwyss opened #184 "System.NullReferenceException in Common.Logging.Simple.ExceptionFormatter.SafeGetTargetSiteInfo"
The exception occurs because `ReflectedType` may return null (this is not a bug, [see documentation](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.reflectedtype#remarks)). This is very problematic because it means that the logging code will crash the application in such a case.

[2020-02-14 09:11] Redytel-iTUC commented on #81
use the command ...

log4net.GlobalContext.Properties["LogsDirectory"] = "somedir";

in different appart class but in the same project

[2020-03-05 23:17] paulinacarolina commented on #81
I'm trying to make a dependency injection for the server, directory and filename, any thoughts or recommendations?
Ive tried with the autofac but Im still unable to create it succesfully, tx

[2020-10-09 14:51] christo-djambov-axway opened #185 "log4net 2.0.10/11 support"
Hello there
Is there planned support for log4net 2.0.10 and/or 2.0.11?
thank you

[2020-11-03 07:36] DoomerDGR8 commented on #185
log4net 2.0.12 is out. This needs to be updated.

[2021-06-02 12:58] fjmorel opened #186 "Nuget packages are not built in release mode"
After seeing this blog post, I checked my projects for debug nuget packages and found Common.Logging to be the only one.

https://garcia.in/posts/2021/pitfalls-of-unoptimized-nuget-packages/

[code]

[2021-09-23 16:13] tompazourek commented on #185
I prepared a PR: #187

However, I'm not sure how to run the CI, publish the NuGet package, etc. I'm not one of the maintainers.

[2022-04-07 21:41] CrazedBear commented on #185
Hi all,  @tompazourek  any news on this one?

[2022-04-08 05:18] tompazourek commented on #185
@CrazedBear No, I'm not a maintainer of this repo, and nobody has looked at my PR contribution yet. There's not much more I can do.

For the project where I needed it, I ended up just copying the relevant code and I'm not using the library part `Common.Logging.Log4NetXXXX` anymore.

[2022-06-09 14:44] Julie-House commented on #170
Please populate the licence link. Our tool which scans for licences claims this package doesn't have one when we know it exists.

[2022-09-05 10:42] steveshort455 opened #188 "NuGet package does not support .NET 2.0 / 3.5"
The http://net-commons.github.io/common-logging/ web page indicates support for .NET 2.0, 3.5, 4.0, 4.5, and more.

The Common.Logging 3.4.1 NuGet package supports .NET 3.5 and .NET 4.0 but Common.Logging.Core 3.4.1 only supports .NET 4.0.

So, no there's no support for .NET 2.0 in the NuGet packages and if I target .NET 3.5 in my project then NuGet still fails to install the version 3.4.1 package